[2014-03-01 08:43] wplittle opened #2 "consider adding stop() command to socketServer"
I could see a use case where someone might want to shut down the ipc in their implementation before (or instead of) the process is killed. In a way where the ipc could be started back up later if needed

 e.g. ipc.server.stop();

For instance:

    events.on(
        'shutdown',
        function() {
            ipc.server.close();
            dbConnection.end();
        }
    );

Another use case

[2015-04-04 15:40] smartmouse opened #29 "Using 10.38 node.js test-harness-this-test-should-fail -- failed"
Hi, what I can I do to debug this failure?
Thanks in advance.

  'test-harness-test':
   { started: true,
     pass: [ 'test-harness-pass-test' ],
     fail: [ 'test-harness-this-test-should-fail' ],
     delay: null },

####################################

         FAILS

####################################

 test-harness-this-test-should-fail

####################################

         PAS

[2015-04-04 15:46] smartmouse opened #30 "/tmp/app.* resources created and not cleaned up after running tests"
After we run the test.js with user account  ONE,There are files created under /tmp/ and not cleaned up.
Now, if we use another account  TWO (which share the /tmp) and run the test.js
it will cause failures due to these pre-existing /tmp/  files created since
the account TWO may not have access to these files which are created by account
ONE.

The tests should clean up any /tmp resources before exi

[2015-04-15 16:46] RIAEvangelist commented on #30
Thanks. Initial testing only planned for one user, so tmp clearing itself at reboot was sufficient. This though does seem to present an issue, so we'll get it updated.

@asida18 can yhou look into this one?

[2015-04-15 16:48] RIAEvangelist commented on #29
are your tests up anywhere?

[2015-04-16 00:16] asida18 commented on #30
@smartmouse The failures you are experiencing are actually not from pre-existing /tmp/ files but actual sockets running. We will have to come up with a way to resolve this for node-ipc.

[2015-04-16 04:37] RIAEvangelist commented on #30
OK, so these are probably the sockets created from the testsnot being closed when the test runner completes.

[2015-05-04 21:59] RIAEvangelist commented on #29
closing due to inactivity of OP.

[2015-05-04 21:59] #29 closed

[2015-07-09 09:59] iamdriz opened #32 "Windows 7 TCP issue without internet connection"
I'm using the TCP connection for two Node applications to talk to each other that run on a local computer that has no connection to the internet.

**However I've found that unless the computer is connected to the internet, then the communications don't get sent!**

Is it possible to communicate without internet access?? I'm using the defaults so it should just be running on localhost and not relyi

[2015-07-09 10:46] iamdriz commented on #32
Noticed that in the console I see the error:

`Failed to read DnsConfig`

My config is as follows:

SERVER

[code]

CLIENT

[code]

[2015-07-11 02:06] RIAEvangelist commented on #32
That is strange, I'll have to take a look into this. Localhost should work without internet connectivity.

Do you have network drivers installed? If there are no network drivers or if you have disabled them, it is possible that no TCP would work as it requires the network stack be atleast installed and running (which is default on most machines) This is how local host etc. works

[2015-07-11 02:07] RIAEvangelist commented on #32
That console error is pretty valuable :

` Failed to read DnsConfig ` I'll see what I can find on it.

[2015-07-11 02:17] RIAEvangelist commented on #32
@iamdriz can you verify that you can start a server on localhost while you are getting the error you reported?

you can try anything basic like one of the examples from [node-http-server](https://www.npmjs.com/package/node-http-server)

If not, there may be an issue with your network configuration. If so, then we need to dig deeper.

Thanks.

[2015-07-11 06:58] iamdriz commented on #32
I have IIS running in my machine for other local development projects so localhost works fine regardless of Internet connection. But if I switch my wireless off then the TCP fails but the IIS sites still work fine.

Sent from my iPhone

[2015-07-11 13:28] wplittle commented on #32
@iamdriz just out of curiosity, what happens if you change "localhost" in
your client and server code to "127.0.0.1"?  Would that bypass the need to
read the DnsConfig?

On Fri, Jul 10, 2015 at 11:58 PM, iamdriz <notifications@github.com> wrote:

[2015-07-12 03:21] RIAEvangelist commented on #32
Good call @wplittle ! since the error is DNSConfig related this could fix the issue.

[2015-07-13 08:48] iamdriz commented on #32
@wplittle Tried that but I still get the DNSConfig error. As soon as remove my ethernet cable or disable my wireless connection the TCP breaks.

[2015-07-13 14:20] wplittle commented on #32
Another thing you can try is to install the Microsoft Loopback Adapter:

1. Click Start, and in the search box type "hdwwiz" and click "hdwwiz.exe"
in the search results
2. Press Next to go to the 2nd page of the wizard, then select "Install the
hardware that I manually select from a list (Advanced)"  Press Next.
3. Select "Network Adapters" in the list and press Next.
4. Select "Microsoft" under

[2015-07-13 16:25] iamdriz commented on #32
Still get that error about the DnsConfig.. but noticed that doing the above has created a network that says 'Unidentified Network'... is that correct?

![image](https://cloud.githubusercontent.com/assets/801252/8654740/345dac6e-2984-11e5-9460-de7d8571f2ca.png)

[2015-07-14 06:17] wplittle commented on #32
I'll see what it looks like on my Windows 7 machine at the office tomorrow
morning.  In the meantime, can you post the output of ipconfig (from the
command prompt)?

On Mon, Jul 13, 2015 at 9:25 AM, iamdriz <notifications@github.com> wrote:

[2015-07-14 06:37] wplittle commented on #32
oh and can you ping localhost?

On Mon, Jul 13, 2015 at 11:17 PM, Walter P. Little <walterplittle@gmail.com>
wrote:

[2015-07-14 10:07] iamdriz commented on #32
![image](https://cloud.githubusercontent.com/assets/801252/8670892/88a4ed7a-2a18-11e5-81f9-4b9451c1ff8f.png)

[2015-07-16 09:43] iamdriz commented on #32
@wplittle Did you get chance to look at this? Thanks

[2015-07-17 08:43] iamdriz commented on #32
@RIAEvangelist @wplittle Did you get any further with this? It's really holding up a project we're working on that requires TCP but won't be connected to the internet in production environments. Thanks.

[2015-07-20 05:25] RIAEvangelist commented on #32
@wplittle would it be possible to do a pull and run the tcp exampl on a windows box tomorrow? Just to triple confirm this doesn't happen on our network & boxes?

@iamdriz appologies, just wanted to ask if this is reproduce-able on multiple machines?

[2015-07-20 05:27] RIAEvangelist commented on #32
And one final question, does UDP respond the same way?

[2015-07-20 08:39] iamdriz commented on #32
@RIAEvangelist No need to apologise. Really apprecitating the help so far, and hopefully we can get it resolved soon :)

[2015-07-20 08:45] iamdriz commented on #32
Also just tried it as `UDP4` and as soon as I run it without an internet connection then I see the error about the DnsConfig... So it seems it needs it for this as well.

[2015-07-20 19:44] RIAEvangelist commented on #32
OK :(

[2015-07-21 09:08] Kanaye opened #33 "TypeError: ipc.of[id].destroy is not a function"
Hello,
I think I found a bug in node-ipc.

In case you already had an connection to a server but the socket has been closed,  you get this error when calling "connectTo" (or "connectToNet") to connect to the same server.

You call a function "destroy" on the client ([Line 285](https://github.com/RIAEvangelist/node-ipc/blob/21707286db28bea525e68d03a50269d67a60f98e/node-ipc.js#L285) and [Line 216](h

[2015-07-21 10:41] iamdriz commented on #32
@wplittle @RIAEvangelist Just realised that I forgot to mention that the two Node applications are Electron apps (atom-shell) which uses Chromium and some other magic. I wonder if this has an impact on this issue?

[2015-07-21 14:58] wplittle commented on #32
@iamdriz  sorry I've not been around for a while.  I noticed when pinging
localhost that it returns the IPv6 address of ::1

Perhaps try hardcoding in ::1 instead of the hostname "localhost" or
127.0.0.1  to again try to bypass the need to do anything with DNS.  The
"Failed to read DnsConfig" looks like it's coming from an operating system
library.

Otherwise another thing to try is to configure t

[2015-07-21 15:23] iamdriz commented on #32
Setting the host to `::1` gave this error:

![image](https://cloud.githubusercontent.com/assets/801252/8804570/c25b4558-2fc4-11e5-9ead-dff330dc9da0.png)

[2015-07-21 18:30] RIAEvangelist commented on #32
@iamdriz thanks for working with us on this, it will help others when we get it working.

1. Did you have a chance to run your app on another computer? I am interested in this.
2. can you execute the simple TCP examples (examples dir) in node? If these work but the app does not it would help direct us on how to help.

[2015-07-21 18:32] RIAEvangelist commented on #33
Thanks @Kanaye !

So if I understand correctly, running any of the examples then disconnecting the socket from the other side, or just killing the other process there will be an issue when calling destroy? Right?

[2015-07-21 18:56] Kanaye commented on #33
Thanks for the quick answer!
But no, that's not what i meant.
If you had an connection and then socket gets closed (like killing the server process or such) and then you call "connectTo" (from the client) again to the killed server, then you get the error.
Sorry, i did forget to mention that.

[2015-07-21 19:10] Kanaye commented on #33
To be more clearly about that.
[code]
Append that to the "hello-client.js" from your unixSocket basic example.
Then start the server and the client and kill the server before the timeout runs, and you'll see the error.

[2015-07-22 09:25] iamdriz commented on #32
Okay I can confirm that this issue ONLY happens when running inside Electron... I'll check over there and see if they have any ideas.

[2015-07-22 18:40] RIAEvangelist commented on #32
OK. I have a question reguarding the atom application you are developing.

Is there any specific reason you are using ATOM? Would it be trivial to port your application to [nw.js](http://nwjs.io/)?

[2015-07-23 09:33] iamdriz commented on #32
@RIAEvangelist One of the developers of Electron tried to replicate this issue and found this: https://github.com/atom/electron/issues/2299#issuecomment-123936928 does this make any sense to you? I'm confused how it's iojs related as I only get this issue in Electron rather than standalone.

[2015-07-24 08:09] RIAEvangelist commented on #32
seems like crappy support to me.

I'm installing a win7 VM now, will try in nw.js (node-webkit) its similar to electron but I prefer it dramatically.

I tested in nw on linux and as expected it works fine, but lets see on the vm.

[2015-07-24 08:49] RIAEvangelist commented on #32
I ran the test myelf, io.js does appear to be the issue.
An older version of nw.js like 11.x would work though.

I'll file a bug on io.js

[2015-07-24 09:12] RIAEvangelist commented on #32
created a bug report on io.js repo

nodejs/io.js/issues/2237

[2015-07-24 09:16] RIAEvangelist commented on #32
also refrenced on nwjs nwjs/nw.js/issues/3708

[2015-07-24 14:32] iamdriz commented on #32
Due to this being an issue that may not be fixed for some time (if at all), I've used Socket.io for this application, which is working fine in Electron regardless of the network connection. So I'd recommend people use that for communication across Electron applications. But this module is fine outside of Electron :)

[2015-07-24 15:26] RIAEvangelist commented on #32
note this is only an issue on windows with io.js. its strange that websockets would work since they are implemented ontop of TCP.

[2015-07-24 17:05] RIAEvangelist commented on #32
@iamdriz I have found that statement inaccurate... see below.

You *must* have made a mistake with the very first suggestion @wplittle gave you.

With the help of the io.js team I discovered its directly related to using 'localhost' instead of '127.0.0.1' so *yes* there is still a bug ion iojs however by specifying 127.0.0.1 as @wplittle suggested I was able to make this woirk in both io.js and nw

[2015-07-24 17:07] RIAEvangelist commented on #32
@iamdriz  example code :

## Server

    var nodeIpc = require('node-ipc');

    nodeIpc.config.id   = 'server';
    nodeIpc.config.retry = 1500;
    nodeIpc.config.silent = true;

    nodeIpc.serveNet(
        '127.0.0.1',
        8003,
        function(){
            nodeIpc.server.on(
                'message',
                function(data,socket){
                     console.log(data)

[2015-07-24 18:48] iamdriz commented on #32
I tried both localhost and 127.0.0.1 and they both failed for me.

Sent from my iPhone

[2015-07-24 18:59] RIAEvangelist commented on #32
Can you please try the code I used above?

This worked for me.

[2015-07-24 19:00] RIAEvangelist commented on #32
copy paste test, it should not take long

[2015-07-24 19:06] RIAEvangelist commented on #32
The issue should have nothing to do with node or iojs. They both respond the same way. it is a windows specific issue with TCP host name resolution when the network card is turned off.

[2015-07-24 19:16] RIAEvangelist commented on #32
I have updated the default values, and versioned the npm modules. if you do a fresh pull and do not specify a host it will by default now use 127.0.0.1 and work on windows without networking

[2015-07-24 19:19] #32 closed

[2015-07-24 22:56] iamdriz commented on #32
Was your code inside an Electron app? Just wanted to clarify that. As that's where the issue is, it works fine standalone, but fails in Electron (when no network).

Sent from my iPhone

[2015-07-24 23:25] RIAEvangelist commented on #32
If you could please copy paste the example code above and test it that would be a lot of help.

We have put a lot of time fixing this and just want to make sure given the unique situation you have it works.

Again, please run the copy paste test for us.

[2015-07-30 10:57] iamdriz commented on #32
@RIAEvangelist This still doesn't work for me when running the examples in Electron. As soon as I pull my network cable out of the machine it starts erroring in the console.

[2015-07-30 11:39] iamdriz commented on #32
This is what I have running:

[2015-07-31 05:24] RIAEvangelist commented on #32
if you start it and then pull out network cable while it is running it will choke the server on windows. If the cable is in the server will connect via the network card. When the cable is pulled out after that, windows shuts the network card down thus killing the server.

You would need to handle this in your app to cause the server to restart. The client should continue to listen for the server t

[2015-07-31 05:24] RIAEvangelist commented on #32
Thank you for testing by the way.

[2015-08-19 07:14] RIAEvangelist commented on #33
Sorry for the late reply. Will look into this further.

[2015-08-23 05:39] RIAEvangelist commented on #33
I think I also see the issue with ipc.disconnect('world');

[2015-08-23 05:48] RIAEvangelist opened #35 "ipc.disconnect does not stop retrying"
ipc.disconnect('world') will still try to connect event though explicitly disconnecting.

[2015-08-23 05:49] RIAEvangelist commented on #33
this is a seperate issue #35

[2015-08-23 06:34] #30 closed

[2015-08-23 07:05] RIAEvangelist commented on #33
fixed in [node-ipc v2.0.0](https://github.com/RIAEvangelist/node-ipc/releases/tag/2.0.0)

[2015-08-23 07:05] #33 closed

[2015-08-23 07:06] RIAEvangelist commented on #35
fixed in [node-ipc v2.0.0](https://github.com/RIAEvangelist/node-ipc/releases/tag/2.0.0)

[2015-08-23 07:06] #35 closed

[2015-08-23 07:14] RIAEvangelist commented on #2
I think this issue is still valid and would be good to implement

[2015-08-23 09:58] Kanaye commented on #33
Thank you for fixing it.
Hadn't had the time to investigate further or fix it myself.
Have a nice day.

[2015-08-23 10:54] RIAEvangelist opened #36 "Need Information on large message crash"
@j33f

Can you provide the steps needed to reproduce the crashes you prevented with pull request #34

I'd like to know what was causing these at a deeper level.

[2015-08-23 10:57] RIAEvangelist commented on #33
Thanks for reporting what you had time to do! It helped a lot :)

[2015-08-23 11:12] j33f commented on #36
Into the Kuzzle project (soon to be published) we where using node-IPC as an internal message broker. Kuzzle aims to be a BAAS with ElasticSearch as a persistent data storage. In order to populate the storage, we were pushing some huge bulk sets (100k+ records)  and node-IPC was fine with the first ones, but fastly starts to bufferize then crashed because of the JSON.parse not recieving a well for

[2015-08-23 11:22] RIAEvangelist commented on #36
Thanks for all your feedback, it is very helpful! Was this over a network socket?

If it was over the network, I bet if offering gzipping or compressing such huge messages, that might help a lot too. Perhaps that is something we should consider.

I also wonder if the new rawBuffer (binary) support we added in could be of use in speeding things up even more.

[2015-08-23 11:27] j33f commented on #36
nope it was the same docker container...

[2015-08-23 11:31] RIAEvangelist commented on #36
OK, so all over unix socket then. That should be the fastest way, always.

I am very interested to try and fix this even though you are not using node-ipc anymore. Unix socket should be much faster than websocket especially on same container.

I created a new branch called large-messages to work on this. If you are able, it would help a lot if you could review the effects of the changes to see any

[2015-08-23 11:34] j33f commented on #36
at the end, the websocket will help us to separate the components into several docker containers and servers, that is the final goal. This will help us for scalability and ease to plug some middlewares of listeners even if, yep, using unix sockets are the faster way. But, hey, if node-IP become as fast and as easy, we may come back using it you know ;)

[2015-08-23 11:40] RIAEvangelist commented on #36
I believe a TCP socket should still be faster than a web socket.

A web socket is like a TCP socket, but websockets have more built on top so they should be slower.

Is there any way you could provide me some example messages so I can do some benchmarking?

[2015-08-23 11:50] j33f commented on #36
yep but the "build on top" things makes a difference actually

For the messages, that is simple : the data bulk was a array of 100k+ objects with 5 strings (from 2 to 20 chars) and 5 decimal values passed from a server and a worker

[2015-08-23 11:54] RIAEvangelist commented on #36
do you still build the array and objects the same way now?

[2015-08-23 12:10] j33f commented on #36
yep, its a bulk for ElasticSearch

[2015-08-30 06:23] bizMD opened #37 "serveNet() function missing `else`?"
When using serveNet() I get the following error:
[code]
I looked at the cause of the error and found this:
[code]
The issue here is if I pass in a function for `host`, the value of `host` will be set to `false` in the second if statement. But on the third if statement, it will think the `host` variable is `false`, and assume `ipc.config.networkHost.data` exists. This causes the error above to be t

[2015-08-30 07:30] bizMD commented on #37
... I got it to work as is. Seems like I was incorrectly assigning config variables.

[2015-08-30 09:03] RIAEvangelist commented on #37
Thanks for the good feedback!

[2015-08-30 09:03] #37 closed

[2015-09-01 17:25] dj-hedgehog commented on #2
I'm interested in this too.
Why do I get  `ipc.server.end is not a function` when all you use is `net.socket` ?

[2015-09-02 19:43] RIAEvangelist commented on #2
We definitely need to document how to properly use this.

The lack of documentation means we expect the user to understand whats going on which is not good practice.

@dj-hedgehog what we'll need to create is a method called ` stop ` which does :

    ipc.server.stop= function(){
        ipc.server.server.close();
        ipc.server.server.destroy();
    }

I think.

So for now you can use either

[2015-09-03 06:42] RIAEvangelist opened #38 "Add support for Posix Sockets"
This will give Windows the benifit of the existing  ` Unix ` sockets

[2015-09-15 16:54] ardcore opened #39 "Silent mode"
Hi,
It would be nice to have a possibility to disable all output in node-ipc (I'm using it in a CLI tool and it messes up my output a bit)

[2015-09-17 16:10] RIAEvangelist commented on #39
There should be a setting for that, let me check the docs.

[2015-09-17 16:11] RIAEvangelist commented on #39
yeah, the ipc.config has a silent key you can set to true and it will be silent.

[2015-09-17 16:11] #39 closed

[2015-09-17 17:04] ardcore commented on #39
huh, missed that somehow, thanks!

[2015-09-27 12:07] RIAEvangelist commented on #36
Seems to be fixed with node > 4.0.0 and rawBuffer set to true.

[2015-09-27 12:07] #36 closed

[2015-09-27 12:08] RIAEvangelist commented on #38
Was able to modify connectTo event to support both windows and unix

[2015-09-27 12:08] #38 closed

[2015-09-27 21:35] RIAEvangelist opened #40 "Finalize TLS implementation"
get TLS working in production

[2015-11-06 23:50] halt-hammerzeit opened #42 "Clarify in the README maxRetries vs stopRetrying"
It's not clear from the documentation how `maxRetries` is different from `stopRetrying`.
My guess is `maxRetries = -stopRetrying`

[2015-11-11 09:05] RIAEvangelist commented on #42
legit question, just looked at documentation, it says they are basically the same, I will take a look at clarifying or removing one from documentation.

[2015-11-11 11:01] matthiasg opened #43 "Performance"
I am investigating node-ipc to replace our current axon and zeromq based mechanisms. is there a standardized benchmark script anywhere ? e.g time to send x packages at y bytes per message for increasing y (similar to zeromq perf tests). This is helpful in evaluating base line performance (throughput and latency) before application overhead.

[2015-11-16 21:03] nileshprasad opened #45 "Client does not fire disconnect event if retries remaining is 0"
client.trigger('disconnect');

should be in the statement that destroys the socket.

[2015-11-17 07:31] asbelov opened #46 "Client can't reconnect to server on Windows"
Every time, when client try to reconnect to server, in lib\client.js:connect() initialised windows pipe:
if (process.platform ==='win32'){
    client.path = client.path.replace(/^\//, '');
    client.path = client.path.replace(/\//g, '-');
    **client.path= '\\\\.\\pipe\\'+client.path;**
}

and every reconnect added to pipe string '\\\\.\\pipe\\'.

I fix it:
if (process.platform ==='win32'){

[2015-11-18 02:18] nileshprasad opened #47 "Server connects to multiple clients when "maxConnections" parameter is set to value 1."

[2015-11-18 02:23] nileshprasad commented on #47
If the value of "maxConnections" is set 0, still the server will make connections with any available clients.

[2015-11-18 11:06] RIAEvangelist commented on #43
No, but the library should be blazingly fast, we use it for real time critical software.

If you write such a benchmark, please submit it as a pull request! I would love to see it.

[2015-11-18 11:07] RIAEvangelist commented on #46
fixed by PR #44

[2015-11-18 11:07] #46 closed

[2015-11-18 11:09] RIAEvangelist commented on #47
0 is an invalid argument for a server, however 1 should work.

[2015-11-18 11:12] RIAEvangelist commented on #42
so, the answer to this question is that at any point you can set stopRetrying to true in real time and it will immediately stop retrying reguardless of the maxRetrys are. This is useful in many scenarios. you can then set it back to false and reconnect using the maxRetry count. This is helpful with critical failure paths or highly multi process communication.

Needs to be added to documentation. @

[2015-11-18 11:14] halt-hammerzeit commented on #42
@RIAEvangelist by the way, your module inspired me to dive into that "streams" thing and write my own TCP-only implementation
https://github.com/halt-hammerzeit/webapp/blob/master/code/common/tcp.js

[2015-11-18 12:03] matthiasg commented on #43
@RIAEvangelist thanks for the feedback, that sounds promising .. i will start evaluation then, if i do create tests i will certainly make them available

[2015-11-19 02:42] nileshprasad commented on #47
Only for clarification purpose, the value set to 1, does not work.

[2015-11-20 01:13] nileshprasad opened #49 "'udp6' type passed in serveNet method causes err"

[2015-11-20 01:25] nileshprasad opened #50 "No error condition defined for the case when two UDP sockets are using the same port."

[2015-11-21 01:50] RIAEvangelist commented on #42
@halt-hammerzeit  cool.

You might also take a look at my [js-message](https://www.npmjs.com/package/js-message) module.

It helps a lot for normalizing messages and having JSON available.

[2015-11-21 01:50] #42 closed

[2015-11-28 23:18] RIAEvangelist commented on #43
@matthiasg Thanks!

[2015-12-02 18:08] RIAEvangelist commented on #45
fixed by PR #52

[2015-12-02 18:08] #45 closed

[2015-12-03 16:09] aafeliz opened #54 "How do I read data received from client on the server side"
I implemented the basic UDP server shown below, and I have a different application(written in c++) sending messages to the server. The server logs the following:
 socket connection to server detected
Received UDP message from  127.0.0.1 46843
indicating that it has received a message from a client, now how do i access the data from the server side in order to make a variable equal to the data that

[2015-12-03 16:48] RIAEvangelist commented on #54
is your C++ code sending the delimiter?

I believe the docs cover this you can change it to whatever you want. The default is either \f I think

[2015-12-03 16:56] RIAEvangelist commented on #49
What do you mean it is invalid?

[2015-12-03 16:59] RIAEvangelist commented on #47
are you trying to say it doesn't work only if set to 1 but will work if set to 2 then?

[2015-12-03 16:59] RIAEvangelist commented on #40
released in v4.0.0

[2015-12-03 16:59] #40 closed

[2015-12-03 17:01] RIAEvangelist commented on #2
@mayberex
wanna handle this?

[2015-12-03 17:02] RIAEvangelist commented on #50
If this is happening on your machine, it is a system level issue or inherent in what you are building.

[2015-12-03 17:02] #50 closed

[2015-12-03 17:02] nileshprasad commented on #49
udp6 is not considered as valid parameter and syntax error is obtained.

[2015-12-03 17:15] #43 closed

[2015-12-03 20:10] nileshprasad commented on #47
When the value is set to 1 or any number, the max connections does not matter. The server will connect to any number of clients available and not just connect to the set value in "max connections" parameter. So if the value set is 2 and three clients are available, the server will make connections with all 3 of them.

[2015-12-04 01:20] RIAEvangelist commented on #49
a syntax error?
what is the error?

[2015-12-04 01:21] RIAEvangelist commented on #47
OK, so maxConnections just doesn't work. It's unrelated to setting it to 1.

Thank you!

[2015-12-04 01:50] nileshprasad commented on #49
It starts the server as TCP and then error occurs at socketServer.js:304
                                                                                             server.server.listen(

TypeError: undefined is not a function
    at /lib/socketServer.js:304:47
    at FSReqWrap.oncomplete(fs.js:95:15)

This can be repeated by specifying the UDPType as 'udp6'  in the example files in UDPSocket fol

[2015-12-04 20:15] aafeliz commented on #54
Thank you for you quick response, I really appreciate it.
The delimiter that I am using is a comma, but ill give the \f a try. Im not very familiar with node js, which attribute of ipc.server contains the data?

[2015-12-08 22:03] RIAEvangelist commented on #54
If you are sending JSON then you should get JSON,

If you are sending raw buffers, hex or binary then you should set the raw buffer in the node config.

This looks like you might not be sending anything from C++.

When dealing with JSON in C based languages the Janson lib might be helpful.

Otherwise just specify in the node code that you are using rawBuffers

[2015-12-08 22:03] #54 closed

[2015-12-11 16:20] aafeliz commented on #54
bellow i pasted the node js including the configurations.I set the configs to raw buffer I also tried using both ascii and utf8. On the c++ side of things i am sending a string after successfully connecting as a client to the UDP server initiated by nodejs.

I a bit confused by the message "Received UDP message from 127.0.0.1 36632". I took it as an indication that c++ is sending the data, since i

[2015-12-11 22:05] RIAEvangelist commented on #54
That means it is sending stuff. your node portion is working as expected.

Your C++ code is not sending what you are expecting. Have you tried ***ipc.config.rawBuffer***

Inorder for me to help with your C++ you have to put it up on github.

[2015-12-11 22:07] RIAEvangelist commented on #54
Also, is there any reason you have to build it in C++ if you are having trouble with it?

[2015-12-18 12:29] Rokt33r opened #56 "Unable to handle EADDRINUSE error from outside of this module."
I want my app to switch the path of socket if it is already using automatically.
But, It seems to be impossible.

I checked `lib/socketServer.js` file. It seems to be able to access Server instance of node-ipc after the server started.
But, starting with a path already using, EADDRINUSE is thrown before the Server instance of node-ipc became accessible.
Putting `nodeIpc.server.start()`method into

[2015-12-18 14:03] Rokt33r commented on #56
This is my temporary expedient.

https://github.com/Rokt33r/node-ipc/commit/069146e005a1581fe7341366ec01a3e8a7cc0f66#diff-4548bafde8aa8c29050173ecc3ecb9d1

[2015-12-21 15:46] RIAEvangelist commented on #56
Just to make sure, did you try binding to the error event?

.on('error',handlerFunc)

[2015-12-22 03:42] RIAEvangelist commented on #56
nvm, if it is in fs.unlink, then I understand why it would never get to the error handler. I'll see if there is another way to handle this issue. If not I will merge in your quick fix. Just want to make sure we can't come up with something a bit more elegant.

[2015-12-22 05:41] Rokt33r commented on #56
I agree with that there must be much better solution than mine. I'll wait for it gladly.

[2015-12-27 19:36] yetanotherusernamebecausegithubisbugged opened #58 "Is it possible to run server and client in the same code?"
Is it possible to run unix socket server and unix socket client for another server at the same code? I mean it looks like that ipc.config is global and that there is no way to use it for the server and client simultaneously. But maybe there is still a way to do it without running separate processes for server and client?

[2015-12-31 01:59] RIAEvangelist commented on #58
I believe this is supported by default, have you tried?

The config is global, but you can override any of the needed config params by using the options of the connect or connectNet methods, I think.

[2015-12-31 07:02] yetanotherusernamebecausegithubisbugged commented on #58
Yes I tried to merge exact code of example client and server (that work fine when separated) into one file and got some error messages and then decided not to go deeper and ask here.
[code]
The code of server-client.js:
[code]

[2015-12-31 07:04] yetanotherusernamebecausegithubisbugged commented on #58
I will try the options of the connect or connectNet methods then.

[2015-12-31 11:22] yetanotherusernamebecausegithubisbugged commented on #58
I changed
[code]
to
[code]
but have got the same ENOENT ERROR.

[2016-01-01 20:15] RIAEvangelist commented on #58
First, you can not expect a global to have more than one value :

like....

[code]

just won't work as you are expecting...

that ` enoent ` means you are doing something wrong, or already have the same server running.

When you are writing code it is ***NEVER*** acceptable to just ignore an error. You must always understand your errors and deal with them. Ignoring errors in your code is like igno

[2016-01-01 20:17] RIAEvangelist commented on #58
you do not need this code for sure :

[code]

[2016-01-01 20:18] RIAEvangelist commented on #58
I'm guessing your server just isn't up yet, give it some time.

Just so you know, spinning up a server and connecting to it in the same file is not a good implementation.

Just want to put that out there.

[2016-01-02 06:42] yetanotherusernamebecausegithubisbugged commented on #58
Ok. Thank you for your help.

[2016-01-02 06:42] #58 closed

[2016-01-04 09:01] #56 closed

[2016-01-04 09:03] RIAEvangelist commented on #56
Fixed now

see the basic example in TCP

[code]

[2016-01-04 09:11] #47 closed

[2016-01-04 09:22] #49 closed

[2016-01-04 09:33] #2 closed

[2016-01-04 10:18] Rokt33r commented on #56
Thank you for updating! :tada:

[2016-01-05 05:27] RIAEvangelist commented on #56
Do you think you could help with the documentation in Chinese?

I saw in some of your repos you used chinese in your code or HTML.

If not that's cool, I know it can be a lot of work to help with documentation. If you can though I would really appreciate it!

[2016-01-05 06:26] Rokt33r commented on #56
Haha, I would be glad to do it if I can. But, I cannot speak Chinese.
I'm Korean and living in Japan.

So, if you need Japanese or Korean translation, I think I can help you! :dancers:

[2016-01-05 23:33] RIAEvangelist commented on #56
I thought so by your name, but your repos look like they have chinese so I was like huh... guess names can be deceiving.

俺も日本語できる。日本語のドキュメントも作るべきなー。何語でも手伝ったら嬉。

저는 조금 한국어 말한다.

我的中國不好。

[2016-01-06 06:02] Rokt33r commented on #56
I thought you can speak Japanese because of your middle name! :smirk:
Btw, I started writing Korean version of documentation first. I think it would be finished about next weekend.

[2016-01-06 15:47] RIAEvangelist commented on #56
Amazing! Thanks!! :tada:

[2016-01-09 05:45] RIAEvangelist opened #60 "Test case servers never shut down"
This makes extra test runs fail and leads to a lot of junk from testing.

@nileshprasad let me know as soon as you are ready for a pull request.

[2016-01-09 14:47] Rokt33r opened #61 "Add node-ipc to awesome-nodejs"
I think this module should be listed there because of its awesomeness!!
https://github.com/sindresorhus/awesome-nodejs

[2016-01-10 07:23] #60 closed

[2016-01-10 09:29] RIAEvangelist opened #62 "UDP server.stop() throws socket.destroy not a function second time it is called"
[code]

[2016-01-10 09:45] RIAEvangelist commented on #62
invalid issue. problem was with test.

[2016-01-10 11:13] RIAEvangelist commented on #62
fixed.

[2016-01-10 11:13] #62 closed

[2016-01-10 13:50] RIAEvangelist commented on #61
requested

[2016-01-10 13:50] #61 closed

[2016-01-17 09:28] Rokt33r commented on #56
I think we have to create a new issue for translation.
Btw, I have a question. What is the difference between `maxRetries` and `stopRetrying` in `ipc.config`?

[2016-02-07 19:55] gajus opened #63 "Which is faster: process.fork/send or node-ipc?"
I have a node process that uses `process.fork` to distribute tasks. However, I have learned that communication via master and child process via `process.send` is relatively slow.

Which is faster for sending large JSON objects: core IPC or `node-ipc` module?

[2016-02-08 19:38] Mostafa-Samir opened #64 "is there a way to know when a message is fully 'emitted' on the socket?"
consider the following client that sends a termination message to a running ipc server and then immediately disconnects from the server

[code]
because `emit` is an asynchronous process, when the client disconnects the message wouldn't have been fully written to the socket and the server won't receive the message.

so, does the module provide any thing to check if the message is fully written on t

[2016-02-08 19:51] RIAEvangelist commented on #63
I'm not totally sure which would be faster, using unix sockets would be the way to go with node-ipc.

But, you might consider sending multiple smaller objects instead of one BIG object.

[2016-02-09 21:03] RIAEvangelist commented on #64
when you emit the terminate message does the other end not hangup?

***I don't think*** this exists right now. The main reason to avoid it would be performance under heavy load. If you don't need a callback, but have an if statement checking for it say 800 times per second that would slow your code down some do to the  unnecessary overhead. Many applications do use this for real time communication

[2016-02-10 19:45] Mostafa-Samir commented on #64
Thank you,

I went with the solution to have the other end close the socket when it receives the terminate message using `socket.destroy()` or `socket.end()`. There was a minor issue in the client with that solution, it raised an **ENOENT** error and kept retrying to connect to the server after the socket was closed on the other end. I solved that by adding a listener for the `end` event on the so

[2016-02-10 19:45] #64 closed

[2016-02-10 21:39] RIAEvangelist commented on #64
Did you bind to the close event?

You also can change your max reconnect trys and duration in the config.
On Feb 10, 2016 11:45 AM, "Mostafa-Samir" <notifications@github.com> wrote:

[2016-02-11 14:11] singhshashi opened #65 "Writing to stdout from within server.on.app.message throws an error"
I have an ipc server set up as follows:

[code]

nativeMessage.output() transforms the object pingFromMyApp to bytes in the format required by chrome native messaging api. I am using https://github.com/jdiamond/chrome-native-messaging to do that.

However, I get an exception on process.stdout.write(pingFromMyApp) :

Is this happening because for the thread executing, the stdio is piped to the sock

[2016-02-11 15:28] singhshashi commented on #65
This may not have to do with node-ipc but how I am using the chrome-native-messaging

[2016-02-11 15:28] #65 closed

[2016-02-11 19:05] Mostafa-Samir commented on #64
Yeah I attempted to bind to the `close` event, the callback wasn't invoked until after one **ENOENT** error was raised and one attempt to retry is made. When I set the `maxRetries` to 0, it raised the exception then invoked the callback. However when I bind to the `end` event it invokes the callback immediately without raising the exception.

[2016-02-19 04:17] RIAEvangelist commented on #65
:+1:

[2016-02-19 04:19] RIAEvangelist commented on #64
Also, just for future reference, you can listen for the ` error ` event toi catch things like ***ENOENT***

[2016-02-22 18:46] Mostafa-Samir commented on #64
Thanks :+1:

[2016-02-25 01:27] mattrmunson opened #66 "Help with C++ socket messages"
I'm trying to get the [Unix server example](https://www.npmjs.com/package/node-ipc#server-for-unix-sockets-windows-sockets--tcp-sockets) to work with a simple [c++/boost::asio client](http://www.boost.org/doc/libs/1_53_0/doc/html/boost_asio/example/local/stream_client.cpp). I got the node-ipc server working with the node-ipc client, and I can connect with the c++ client. But, when I send a short m

[2016-02-25 02:10] mattrmunson commented on #66
I got the node-ipc server to respond by modifying the c++ client with the code:

[code]
But now the c++ client is not acknowledging the server response. I took a look at the client with strace and saw that it is receiving the message

`recvmsg(6, {msg_name(0)=NULL, msg_iov(1)=[{"{\"type\":\"message\",\"data\":\"hello "..., 1024}], msg_controllen=0, msg_flags=0}, 0) = 41`

It turns out that, if I s

[2016-02-26 03:41] RIAEvangelist commented on #66
Things I would check :

### concat and check for delimiter in C++
if this is too small your messages will need to be stitched together and split on the delimiter you have set in node-ipc. (that's actually why the delimiter is there)

both sides can determine a full message is available by the presence of a delimiter. This is the best way to do it incase messages are coming rapidly and possibly hav

[2016-02-26 03:45] RIAEvangelist commented on #66
As an aside, I have worked on projects with C and C++ using Janson as the JSON lib.

Also, there is a RawBuffer member in the config. That might be of help to you as well. But primarily I think the concat and check for delimiter in C++ is the best way to handle this.

[2016-02-26 03:47] RIAEvangelist commented on #66
FYI, depending on what you are doing you might also benifit from the sync setting in the config too. With that node requires some kind of ack | nack before sending the next message

[2016-02-26 22:41] mattrmunson commented on #66
You're right, the delimiter was the key. It turns out I was using some boost streambuff setting that was waiting until a minimum number of characters are in the buffer before reading. So it was never reading the message unless that minimum number was less or equal to the length of the message. So I switched to using `boos::asio::read_until()` and now it reads in everything up until the delimiter.

[2016-02-28 02:21] bluejamesbond opened #67 "PubSub library built from node-ipc :)"
Just thought I would share a dependency.
https://github.com/bluejamesbond/PubSub.js

Feel free to close as needed.

Thank you for the great library!

[2016-02-29 03:02] RIAEvangelist commented on #66
:+1:

1. no, the only additional latency would be the creation of the for loop, so I expect for 1 client this would be less than 1ms.
2. yes, use the raw buffer setting I mentioned earlier. This will remove any latency with that and instead send a raw buffer. It might make things easier and faster for you in C++ as well.
3. Any code you write will inherently add latency, even defining a variable.

[2016-02-29 03:02] #66 closed

[2016-02-29 03:03] RIAEvangelist commented on #67
:+1:  Awesome! thanks for the news, I'll keep an eye on it!

[2016-02-29 03:03] #67 closed

[2016-02-29 03:05] #63 closed

[2016-03-05 08:37] zhang007z opened #68 "How do node-ipc conmunicate with server of Unix-domain sockets in C language ?"
I see your example that client and server all use node.js for communication between them.if my server is Unix-domain sockets framework in C language, please I want to ask that can your node-ipc communicate with it ?

[2016-03-07 22:06] RIAEvangelist commented on #68
Yes. It can. Just send messages to the socket.

There is a guide to unix sockets in the README.txt.

remember to look for the delimiter. Or set rawBuffer to true in the config.

[2016-03-10 09:20] zhang007z commented on #68
thanks RIAEvangelist
first problem:
if I use your node-ipc to send json message to unix sockets,which mode of node-ipc can complete it?  this unix sockets end is completed in C language.
second problem:
I use node-ipc to send json message to the received-end server process that is based on Unix-domain sockets model. if node-ipc as client adopts TCP protocal for sending json to the received-end, in

[2016-03-16 09:50] RIAEvangelist commented on #68
@zhang007z
1) please use the unix socket settings. They are documented in the readme. It is very easy.

2) your buffer on the c side is probably too small either stich your buffers by checking for the delimiter or increase your buffer size. I recommend checking for the delimiter though.

[2016-03-16 09:50] #68 closed

[2016-03-21 13:30] valette opened #69 "Listen to client events"
Hi,

on the server-side, it is possible to listen to events using ipc.of[serverId].on(), but it seems this is not possible to do this on the client side. Is this functionality difficult to implement?

Thanks

[2016-03-21 15:05] valette commented on #69
OK, got it, after invoking ipc.connectTo(), ipc.of.socket can be listened to...

Sorry for the noise

[2016-03-21 15:05] #69 closed

[2016-03-21 20:41] RIAEvangelist commented on #69
:+1:

[2016-03-29 22:44] mwshortt opened #71 "In Client log received is misspelled"
Client logs: `## recieved events ##`; received is misspelled. Should be: `## received events ##`.

[2016-03-29 22:44] mwshortt commented on #71
PR created: https://github.com/RIAEvangelist/node-ipc/pull/70/files

[2016-03-30 22:14] Globik commented on #32
I am also on Window 7, 32bit. The WebRTC examples by Janus WebRTC Gateway are not working without Internet Connectivity. This windows's specific issue. Janus gateway compiled on my laptop. And the nodejs server also on laptop. I checked, with internet all examples work fine. One should dancing over dns and static ip addresses on windows.

[2016-04-17 06:51] Dillybob92 opened #74 "ZeroMQ vs Node-ipc"
Hey guys,

Just curious, is node-ipc generally faster than ZeroMQ for local communication only?

[2016-04-26 21:32] RIAEvangelist commented on #74
It should be, but not sure, would be awesome to have benchmarking. node-ipc is being used in many real time applications.

[2016-04-27 00:06] #74 closed

[2016-04-27 00:06] #71 closed

[2016-04-27 00:06] RIAEvangelist commented on #71
merged

[2016-05-12 08:11] jjp91 opened #75 "server socket don't fire disconnect on client disconnection"
Hello,

I use node 4.4.4, and the TCP server mode.

The connection goes well, 'connect' is fired on the server and the client, but if I kill the client process, there is just a message (ipc.log) on the server but the event 'disconnect' is not fired on the server.

If i kill the server process, the 'disconnect' event fires normaly on the client.

Thank you.

[2016-05-13 13:45] pdaddy26 opened #76 "What happens when client lost network and tries to send data?"
Hi,

I'll be using TCP and I was wondering what will happen when the clients send data when there is no network? Is the data lost forever lost, so the client must start buffering the data? Is there a way to get notified when the send data didn't work because of no network? Or is TCP handling all of this already?

Thanks,

[2016-05-13 22:26] wjagodfrey commented on #75
Confirmed on `node 6.1.0` with this code:

[code]

[2016-05-13 22:43] Dillybob92 opened #77 "Not sure which type of socket to use"
----
#### Types of IPC Sockets

| Type      | Stability |Definition |
|-----------|-----------|-----------|
|Unix Socket or Windows Socket| Stable    | Gives Linux, Mac, and Windows lightning fast communication and avoids the network card to reduce overhead and latency. [Local Unix and Windows Socket examples ](https://github.com/RIAEvangelist/node-ipc/tree/master/example/unixWindowsSocket/ "Unix

[2016-05-14 07:24] jjp91 commented on #77
Hello,

I think Redis would be quicker, and specialy if you use sub on multiple process/server at the same time.

But if you still want to use Node for IPCs, use the Unix Socket, it is quicker than the NetworkCard.

Be aware that Node is an interpreted language, so more you use third parties the more your programms will be faster.

[2016-05-14 15:33] Dillybob92 commented on #77
@jjp91 Thanks for the response!

Yeah, I'm kind of stumped right now. I have 3-4 node instances up, but when two players join the same game (but on different instances) I would need to use Redis or IPC to send data between them. It seems like extra overhead regardless. Would putting them on the same instance be a better solution and then just have "Channels" where players can switch to?

[2016-05-15 02:32] dimichgh commented on #43
@matthiasg why would you want to switch from zmq to node-ipc?
have you tried to compare?

[2016-05-16 05:29] jjp91 commented on #77
Hello Dilllybob92,

What do you mean by "instance", you mean processes?
If you have 4 processes, it will be quicker because processors have several cores now, if you use all the cores of your processor, you will be faster.

Never forget that Node is node threaded, this means that nothing is "parallel", so when your process is doing something, it is not doing something else.

Do you send binary dat

[2016-05-16 05:37] Dillybob92 commented on #77
@jjp91 Yeah,processes. Are you talking about node-ipc will be faster (Since it's processes,not servers)?  And yeah, it's a quad core server. I run 3 node instances (websocket server) behind a nginx reverse proxy/load balancer. Then players can join other games, etc.

I'm just stumped because it seems like if a player joins another players game that isn't on the same instance as them... I have to b

[2016-05-16 05:55] jjp91 commented on #77
@Dillybob92

Look, i'm not talking about games, just computing systems, when i mean binary, it means not text.

Are you sure  you want to send NOT text messages between processes?

[2016-05-16 06:00] Dillybob92 commented on #77
Probably not, binary would be the most fastest, right? If so, yes I already am using binary, so you recommend node-ipc for local processes and Redis` Pub/Sub for server communication?

[2016-05-16 06:04] jjp91 commented on #77
If not text, Redis or Node-IPC will be great but not in binary mode, use Node-IPC with Unix Domain Socket, it will be great.

Binary is not a good idea because Node-IPC turn binary in hex encoding which double the size of the data sent, and Redis manages not very well binary data.

[2016-05-16 06:10] Dillybob92 commented on #77
Okay @jjp91 Thanks for time, really appreciate it!!

[2016-05-16 06:24] jjp91 commented on #77
You're welcome, i'm sure you're doing great gaming :-)

[2016-05-18 04:39] matthiasg commented on #43
@dimichgh actually we stayed and invested further into zmq. I was hoping for an all JavaScript ipc method to avoid compiling dependencies.

[2016-06-05 18:14] antitoxic opened #79 "Error: Messages are large, You may want to consider smaller messages."
I'm having his error with the example setup. I tried to figure out what it means from the code but I couldn't.

The messages I'm sending are not that large

[2016-06-05 18:16] antitoxic commented on #79
Example:

[code]
The output is the error.

[2016-06-06 14:28] brandonros opened #80 "Extremely high CPU spikes and memory usage in production"
[code]

I'm trying to track down if there is a memory leak or something...

What other information can I provide?

[2016-06-06 15:07] brandonros commented on #80
Not this package.

[2016-06-06 15:07] #80 closed

[2016-06-08 18:04] mirague commented on #79
You need to send in a valid JSON object in the following format:
[code]

Note that the library is looking for a `\f` in the very end of the message.

[2016-06-20 12:59] mirague commented on #77
@Dillybob92 Which of the methods did you choose in the end? Has it been performant?

[2016-06-21 03:36] Dillybob92 commented on #77
@mirague Unfortunately, I took a different approach for IPC. I basically will only use it to communicate between processes for basic events (chatting, pming a player, etc) -- not for any high intensive tasks like player movement, updating skills or whatnot. I decided to create a custom "load balancer" if you will, and just put players on separate 5$ nodejs game instances (with 1 core) to handle al

[2016-06-21 08:05] jjp91 commented on #77
If you want very fast communication between servers and processes, the best is NATS, you put the downloadable command "gnatsd" in your directory, and run. There is a NATS driver for node which is quick also.

[2016-06-21 08:13] mirague commented on #77
@Dillybob92 Thanks for your reply! Do you think `node-ipc` can be performant enough to pass these messages at a high interval? Or have you benchmarked it in a way and found it lacked performance at a certain throughput?

Also, these 5$ instances are monthly instance-prices for which you pay per hour? Thanks again!

[2016-06-21 08:22] Dillybob92 commented on #77
@mirague I think only on linux servers because of the RAW unix sockets. But, I did test it with high interval message passing (player movement, etc) and it's fine. It's just I didn't want to stick everything into one server (Even if using multiple node instances) -- I think it's just easier to scale out with the cheap 3-5$ VPS's instead of spending 70$ for a good dedicated server.  That's just me

[2016-06-21 08:32] jjp91 commented on #77
@mirague
The pb is not node-ipc, the pb is node.

[2016-06-21 10:53] mirague commented on #77
@jjp91 What's a PB?

[2016-06-21 11:18] jjp91 commented on #77
@mirague
Sorry, it's a mistake, forget it. I remove it.

[2016-07-14 02:55] attfarhan commented on #79
I've just run into this issue.  Tried the above solution but faced the same error.

The command I'm running is:
`echo  { "type": "message", "data": { "editor_type": "vscode", "filename":"~/test.go", "cursor_offset": "3", "selected_token": "fmt", "file_buffer": "fmt"} } \f | nc -U /tmp/app.sourcegraph`.  Any other suggestions?

[2016-07-14 22:51] RIAEvangelist commented on #79
instead of echoing from the command line, try sending from javascript for testing.

you can output what your sending and then try from there. It is entirely possible that your commandline is not working because it has chars that need escaping.

[2016-07-14 22:51] RIAEvangelist commented on #79
also you can specify raw buffer and such in the config if you don't want JSON.

[2016-07-14 22:51] #79 closed

[2016-07-14 22:52] #77 closed

[2016-07-14 22:54] RIAEvangelist commented on #76
It should be.

closed from age.

[2016-07-14 22:54] #76 closed

[2016-07-14 22:55] RIAEvangelist commented on #75
can you supply some more info on this?

What was expected and didn't happen? the disconnect did not fire?

[2016-07-15 13:45] pdaddy26 commented on #76
Sorry I didn't understand, what should it be doing in that scenario?

[2016-07-19 20:52] jimarlet commented on #79
Use the 'pr' command, it will append the Form Feed control character that node-ipc is looking for as a delimiter:
`pr -tF test.json | nc -U /tmp/app.world`

test.json:
`{ "type": "message", "data": { "foo": "bar" } }`

Output:
`received event of :  message { foo: 'bar' }`

[2016-07-19 23:10] wjagodfrey commented on #75
Yes at least from my perspective, I was hoping there would be a disconnect event for each client, so that I could clean up any client state. Connect events were firing but disconnect events were not.

It seems that we are both getting this (absence of) behaviour for both TCP and UNIX socket servers.

[2016-08-11 20:37] joewalker opened #83 "client.disconnect() doesn't disconnect"
My code does `client.disconnect(client.config.id);`

"disconnect" calls `this.of[id].off('*');` ([see here](https://github.com/RIAEvangelist/node-ipc/blob/master/services/IPC.js#L97)).

"off" is defined in event-pubsub, and it calls `unsub(...args)` ([in a round about way](https://github.com/RIAEvangelist/event-pubsub/blob/master/event-pubsub.js#L108)) so in effect, we're calling `unsub('*');`.

B

[2016-08-12 03:56] RIAEvangelist commented on #83
Thanks this must be related to the latest event-pubsub

Well get on it.

[2016-08-12 22:26] #83 closed

[2016-08-16 21:09] michaelrgalloway opened #84 "ML?"
From the description of this project and on npmjs.com I'm reading that this project is tackling Neural Networking and Machine learning but all I am seeing is some communication protocols. Does this project actually have some tools for applied Machine Learning or is this just a framework for IPC various protocols of communication?

[2016-08-19 00:04] RIAEvangelist commented on #84
It was originally designed for communication between various parts of an ANN. The point was to allow easy scaling of multi process ANNs to distributed ANNs with only configuration changes instead of needing to refactor code. It also serves to allow mixed language ML and ANN communication.

Our initial ANN which spurred this was a combination of C, C++, and node.

So while ML coms were the point, i

[2016-08-19 00:04] #84 closed

[2016-08-24 08:33] RIAEvangelist commented on #76
TCP should give you an error. Otherwise you can watch the connectivity.

[2016-09-07 10:18] Stealthmate commented on #75
Looking through the source, it seems that the server fires a 'socket.disconnected' event, which you can listen for, however that's missing from the docs. Perhaps this is a name mismatch? Or maybe something internal which we aren't supposed to catch at all?

[2016-09-07 23:22] RIAEvangelist commented on #75
It may just be missing from the docs. I'll have a look. Thanks @Stealthmate

[2016-09-13 02:17] RIAEvangelist commented on #75
@Stealthtate you are correct. It is missing from the docs. Do you want to add it? If not I will.

Thanks again for answering this.

[2016-09-13 11:35] niklas112 commented on #75
Great! This is exactly what I needed. But how can I identify the client with this event?
Thanks in advance

[2016-09-14 06:19] RIAEvangelist commented on #75
@Stealthmate just  documented this in the readme.

[code]

:+1:

[2016-09-14 06:19] #75 closed

[2016-09-19 15:33] mirague opened #86 "Socket.on('data'): Pass data as JSON object instead of a string"
We're wrapping our own `EventEmitter` class around a Connection since we have several Transports in our application (WebSockets and TCP). We'd like to have a catch-all event listener so that we can "bubble up"/re-emit any events that are happening.

Right now we worked around this by listening for the `'data'` event on the Socket, but it passes in a string of the payload - requiring us to parse it

[2016-09-19 16:13] mirague opened #87 "Ability to Remove an Event Listener on Socket"
Right now you can do:

[code]

What's missing is a way to remove the handler when one needs to, such as:
[code]

[2016-09-21 07:58] SunandoSamaddar opened #88 "Client fails to connect to Node server(TCP Sockets)"
So, I'm trying to pass messages between a node server(which uses both node-ipc and socket.io) and an Electron client.

Node server `ipc.config` below
[code]

Server code below - relevant portion
[code]

Electron client **index.html** inline JavaScript code below. **[I have included `<script type="text/javascript" src="node_modules/node-ipc/node-ipc.js"></script>` before the inline code]**
[code]

[2016-09-23 04:44] RIAEvangelist commented on #87
.off works well.

[2016-09-23 04:44] #87 closed

[2016-09-23 04:44] RIAEvangelist commented on #87
This is built into node-ipc since the beginning.

[2016-09-23 04:46] RIAEvangelist commented on #86
Are you binding directly onto the underlying socket instead of using the framework?

[2016-09-23 04:48] RIAEvangelist commented on #86
In the framework you just bind to the * event.

.on('*',catchAll)

The catch-all recieves (type,data) string, json

[2016-09-23 04:48] #86 closed

[2016-09-23 04:50] RIAEvangelist commented on #86
Lmk if that's what you were looking for.

[2016-09-23 21:30] mirague commented on #87
Heya! Appreciate the response.

It seems to work on the `server` object, but not directly on the `socket`

[2016-09-24 20:38] RIAEvangelist commented on #88
That is not an error.

That is the initial connection happening.

I do not see the issue yet.

[2016-09-24 20:40] RIAEvangelist commented on #87
I think you should use the framework as described in the documentation.

I am not sure why you are trying to use the raw sockets. In all the examples you will see `  ipc.of.socketNameHere.on ` or `  ipc.of.socketNameHere.off `

[code]

[2016-09-24 20:43] RIAEvangelist commented on #88
Also, you should probably require node-ipc in the electron app not, include via script tag.

[2016-09-25 10:23] SunandoSamaddar commented on #88
@RIAEvangelist The thing is the `ipc.server.emit()` does not reach the Electron client and yes, I have done `require('node-ipc');` in the client. Is there something else I can provide that may ease the debugging?

[2016-09-25 18:25] mirague commented on #87
I'm using the raw socket because I have my own wrappers around "connections" since we needed to abstract between clients connecting over WebSockets and TCP. When we instantiate a "connection" we pass in the Socket so that we can have our own logic over it.

Using the "server" does not work in this scenario, as we care about the socket itself. We can monkey-patch it to work our way though.

[2016-09-26 17:43] RIAEvangelist commented on #87
Why not extend IPC?  The core class is exposed for just this reason. Otherwise you are not using node-IPC, you are just using raw sockets. So you will need to write everything from scratch. I think extending IPC is probably the best idea.

[2016-09-26 17:46] RIAEvangelist commented on #88
There is one thing, if you could just toss up a hello world electron app It would help. That way when I get a spare moment I can just quick clone it and test. Also, add me as a contributor to the repo so if I figure something out, I can just push it up as an example for you.

[2016-09-27 09:55] SunandoSamaddar commented on #88
@RIAEvangelist Okay I'll do that. Thanks. :)

[2016-09-28 04:36] RIAEvangelist commented on #88
@SunandoSamaddar any progress?

[2016-09-28 08:55] SunandoSamaddar commented on #88
@RIAEvangelist Not really. You can check [this repo](https://github.com/SunandoSamaddar/igorbrbr)...this is the code that I'm using now.

[2016-09-28 20:54] RIAEvangelist commented on #88
+1

[2016-09-29 05:58] SunandoSamaddar commented on #88
@RIAEvangelist I added you as a contributor.

[2016-09-30 04:08] RIAEvangelist commented on #88
perfect

[2016-09-30 04:32] RIAEvangelist commented on #88
Did you even look at the docs or examples?

I fixed it for you, but you were trying to use socket.io as the socket for ipc on the server, as well as you were trying to run both servers on the same port.

The errors you were getting back should have been a clue on that.

Next time try harder.

BTW I pushed fixes up. take a look.

[2016-09-30 04:32] #88 closed

[2016-09-30 05:51] SunandoSamaddar commented on #88
@RIAEvangelist Hey, thanks a lot...thanks a lot. I wrote some seriously stupid and conceptually f***ed up code which I'm learning from now.

[2016-09-30 12:28] RIAEvangelist commented on #88
:+1:  no problem ;)

[2016-10-01 08:58] Chocobozzz opened #89 "8.8.0 version breaks Node LTS"
The cause seems to be the ES6 version of https://github.com/RIAEvangelist/event-pubsub that Node LTS (4.6) does not support.

http://pastebin.ca/3723743

[2016-10-02 18:22] DutchKev opened #90 "Am I missing a required text/string colouring library?"
.

[2016-10-02 18:48] bsense-rius opened #91 "Using it with cluster"
Been trying to use it as a means to communicate between forked processes but it fails. The goal is to avoid pivotting through master.

Anyway whenever I try to connect two forked processes the following error appears:
Error: write ENOTSUP
    at exports._errnoException (util.js:873:11)
    at ChildProcess.target._send (internal/child_process.js:611:20)
    at ChildProcess.target.send (internal/chi

[2016-10-03 04:47] jmx commented on #89
Confirmed (installed as a dependent of jspm-watch (which requires node-ipc^7.0.0))

node_modules/event-pubsub/event-pubsub.js:56
    emit(type,...args){
              ^^^

SyntaxError: Unexpected token ...

[2016-10-03 07:51] #90 closed

[2016-10-03 07:51] DutchKev opened #92 "client identifiers on server"
When using node-ipc to communicate between NodeJS processes over IPC, it seems pretty simple to start a server and listen for connections, or create a client and connect to the server.

But there is something that doesn't seem all that simple:

The manual says,

**On the client, listening to the server for a message**:

    ipc.connectTo('world', function(){
            ipc.of.world.on('hello', fu

[2016-10-03 20:36] RIAEvangelist commented on #89
releasing a fix now which uses version detection to choose es5/es6 event-pubsub module

[2016-10-03 20:36] RIAEvangelist commented on #89
Please confirm fix with v8.9.0

[2016-10-03 20:37] RIAEvangelist commented on #89
I have confirmed on my end, but would like to be extra sure

[2016-10-03 20:37] RIAEvangelist commented on #89
also LTS is now 6 ;) but should still be fixed for people who remain behind.

[2016-10-03 20:40] RIAEvangelist commented on #91
You will have to set up your processes to be clients but the parent to be a server for communication.

Alternatively, you could write a simple process manager that will spin up the child processes as actual separate children.

Cluster is an attempt to do what node-ipc allows you to do, but cluster is A LOT slower.

[2016-10-03 20:40] #91 closed

[2016-10-04 00:10] #89 closed

[2016-10-04 00:18] RIAEvangelist commented on #92
You would do this the same as any other socket library, like ws for websockets etc.

The accept function gives you a scope. you can either create event handlers in this scope with something like `event-pubsub` on a global Events class, or you can push the client sockets into an array or object for you to track.

My guess based on what you are describing is that you are looking for more of an `even

[2016-10-04 00:20] RIAEvangelist commented on #92
also see the docs for the server

you can listen for messages from the client and respond.

you may also want to check the docs for the `server.broadcast` function. I think there may also be a server.clients?

[2016-10-04 00:22] RIAEvangelist commented on #92
Although... I do like your idea of `ipc.server.of` however how will you know which client you want to dispatch to if you have like 300 clients connected without handling the naming yourself as described above.

If you can come up with an identification pattern and use case for me, I would be happy to add it.

[2016-10-04 07:52] DutchKev commented on #92
Hi Ria, thanks for helping me out..

I will make a UML for my current use case, and I will have a a deeper look into the node-ipc source to see if I can help by creating a quick draft pull-request ..  I will try to get back to it by the end of the day

[2016-10-04 07:54] Jodes81 opened #93 "Examples communicating in other languages, e.g. C?"
It would be awesome to have examples in other languages on how to communicate with the examples given. For example, in C with the unix domain sockets hello world examples.

I appreciate that it's a bit of a detour from the essence of node-ipc if that makes sense, but it would be extremely helpful!

[2016-10-04 16:15] raybooysen opened #94 "Event-pubsub Update"
A direct dependency, event-pubsub released a new version 4.1.0 which seems to cause the unit tests for node-ipc to fail.

I've also had some issues today running node-ipc and webpack where event-pubsub is throwing with:

[code]

[2016-10-04 16:18] raybooysen commented on #94
For more context, we're using node-ipc 7.0.0.  Seems the package.json versioning for node-ipc at that time was `    "event-pubsub": "*",` which means we just pull the latest and greatest.

[2016-10-04 17:06] Jodes81 commented on #93
I solved this here:

http://stackoverflow.com/questions/39841942/communicating-between-nodejs-and-c-using-node-ipc-and-unix-sockets/39848936#39848936

[2016-10-04 17:09] Jodes81 opened #95 "Are unix datagram sockets supported?"
I want 2-way communication between C and NodeJS in "packets" - ie chunks of data, and AFAIK unix datagram sockets rather than unix stream sockets are the way to go. Does node-ipc support this?

[2016-10-04 17:42] Chocobozzz commented on #89
@RIAEvangelist I confirm this is fixed with 8.9.0. Thanks.

[2016-10-05 00:22] RIAEvangelist commented on #95
I believe this is what we are using for UDP no? I'll have to look at the code.

[2016-10-05 00:24] RIAEvangelist commented on #94
In your app you can add event-pubsub 2.2.0 as a dep and it will satisfy node-ipc need and keep you from pulling latest.

sorry about that.

[2016-10-05 07:55] raybooysen commented on #94
Thanks.

Would you accept a PR that moves to `save-exact` for all dependencies?

[2016-10-05 08:21] Jodes81 commented on #95
I know that UDP uses datagrams, but unix sockets have several modes. If you run `man socket` it gives several constants: `SOCK_STREAM`, `SOCK_DGRAM`, `SOCK_SEQPACKET' and a couple of others. For example, to create a socket at the moment in C to communicate with node, it has this :

[code]
So if I wanted datagrams I could use SOCK_DGRAM` instead of `SOCK_STREAM`

[2016-10-06 04:02] RIAEvangelist commented on #94
in the next release we will be moving to specific release targets for modules and doing sequential releases for dependency updates.

[2016-10-06 04:03] RIAEvangelist commented on #94
Just going through with everyone to see if we need to do anything further before publishing a patch update

[2016-10-06 04:05] RIAEvangelist commented on #89
:+1:

[2016-10-06 04:20] RIAEvangelist commented on #93
Wow, nice, maybe you could do a PR with a C example?

That would be helpful for a lot of people I think.

:question: :tada:

[2016-10-06 05:06] RIAEvangelist commented on #95
I am not sure, but I will have a look around and if we can do it we should.

Are DGRAM unix sockets faster? If so, this is definately something I would like to add.

[2016-10-06 05:13] RIAEvangelist commented on #94
I created a new branch called v7.0.2

If you want to do a PR to update the `package.json` dependancies to be an exact version of event-pubsub, I will accept and publish.

Thanks @raybooysen !

[2016-10-06 07:16] RIAEvangelist opened #97 "engine tags in older package.json"
Request for PR with engine tags and event pubsub versions in dependencies.

Please submit merge requests to appropriate branches.
- [ ] v1.x branch
- [ ] v2.x branch
- [ ] v4.x branch
- [ ] v5.x branch
- [ ] v6.x branch
- [ ] v7.x branch

[2016-10-06 09:28] RIAEvangelist commented on #87
Will the PR Feature that @DutchKev is working on help you? from #96

Also as for raw socket events like you are talking about maybe try :

[code]

[2016-10-06 09:32] Jodes81 commented on #93
Thanks - I definitely will! I've only just started using unix sockets, I'm still getting used to them, and using them in C and node-ipc and I think I still have a long way to go but I'll definitely do that once I have it working. Interestingly I just discovered that unix stream sockets are in fact bi-directional, even though I've read elsewhere that they're not. I actually [asked about this on sta

[2016-10-06 09:34] Jodes81 commented on #95
That's a good question - I was going to do some benchmarks once I understand how it all works. It should be interesting. But everywhere I read, it says unix sockets are always faster than UDP because it doesn't involve the network stack (IIRC).

[2016-10-06 09:36] RIAEvangelist commented on #93
Very cool, when you have the chance to make just a basic example like one of the hello-client/world-server ones that would be much appreciated by all!

[2016-10-06 09:36] #93 closed

[2016-10-06 09:37] RIAEvangelist commented on #95
I mean the unix SOCK_DGRAM

[2016-10-06 09:38] RIAEvangelist commented on #95
unix socket that I have implemented is definitely faster than the UDP because of avoiding the network card.

[2016-10-06 09:51] raybooysen commented on #94
Happy to do this on master so all future builds are exact?

On 6 October 2016 at 06:13, Brandon Nozaki Miller <notifications@github.com>
wrote:

[2016-10-06 18:07] RIAEvangelist commented on #94
right now master requires v4.2.2 explicitly

but what I would like to do is get any of the other engine fields populated and release them as a patch to the old builds.

[2016-10-06 18:07] RIAEvangelist commented on #94
btw thats as of 8.9.1

[2016-10-06 21:36] raybooysen commented on #94
PR Submitted.  Let me know if there is anything else you'd need.

[2016-10-06 22:31] DutchKevv opened #101 "Add acknowledge pattern (like socket.io)"
**Feature Request**

With (for example) socket.io it is possible to do `socket.emit('type', data, callback);`

Whenever the last param is a function, is makes it a callback function.

Internally socket.io just increments a counter, sends it `{ack: ++this._ackCounter}` over the message along with event type and event data, stores it in `this._acks []`.. Whenever the client/other-end sees a `{ack:nu

[2016-10-07 00:51] RIAEvangelist commented on #94
worked out perfect :) thanks!

[2016-10-07 00:51] #94 closed

[2016-10-07 01:07] RIAEvangelist commented on #101
this must be optional and opt in only. It will slow things down significantly.

[2016-10-07 01:07] RIAEvangelist commented on #101
It is one of the reasons I use `ws` instead of `socket.io`

[2016-10-07 01:08] RIAEvangelist commented on #101
remember every operation that happens, even checking the config vars slows things down.

[2016-10-07 01:10] #95 closed

[2016-10-07 01:11] #92 closed

[2016-10-07 01:11] RIAEvangelist commented on #92
will be in next release.

[2016-10-07 07:19] DutchKev commented on #101
Aah yeaah I understand.. Guess there would be 2 extra steps involved, one when sending to check if last parameter is a function and one when receiving to check if the `{ack: id}` is set.. All other steps would only be fired when one of above conditions is fulfilled and would have been done anyway by the end user if he wanted to listen for callback events.

I will finish the previous PR and will cr

[2016-10-31 10:19] SunandoSamaddar commented on #88
Hello Brandon,

Remember you had touched upon my code after I added you as a contributor to
one of my repos https://github.com/SunandoSamaddar/igorbrbr. I was testing
your code yesterday and I found that you had made the same mistake(in the
edit) that I had originally made but it didn't catch your eye then so just
thought of letting you know. You can refer to *server/app.js* to check what
I'm talk

[2016-11-18 18:23] mrb1090 opened #104 "IP Address(es) vs Host names"
Curious if node-ipc can be configured with a machine's IP address vs host name?

i.e. ipc.config.host = '192.168.1.100'

Thanks,

Mike B.

[2016-11-24 18:05] mrb1090 commented on #104
Non-issue.  Confirmed IP addresses work as well...

[2016-11-24 18:05] #104 closed

[2016-11-29 01:52] mrb1090 opened #105 "Specify Local Address/Port for IPC Client"
Have host with multiple NIC ports.  Is it possible to specify the local Host address (localAddress) for an IPC Client to use for socket connection to the Server?    Thx, Mike B

[2016-12-15 19:55] ArsalanDotMe opened #107 "Unix Abstract Sockets"
How can I get this library working with Unix abstract sockets? Those have a null character at the start of their name.

[2016-12-19 23:23] RIAEvangelist commented on #105
you could just put it in like 127.0.0.1 or specify it in the host file on the machine.

[2016-12-19 23:25] RIAEvangelist commented on #107
im not sure, i have not tried using a null char, have you tried putting the escaped null char at the beginning?

[2016-12-19 23:25] RIAEvangelist commented on #107
i have not implemented abstract sockets as a specific implementation yet.

[2016-12-19 23:35] RIAEvangelist commented on #88
the sockets should be named. then you can listen on them.

[2016-12-19 23:42] mrb1090 commented on #105
Thanks for getting back Brandon.  (Great library BTW)
To be clear, looking to specify the client's IP address for node-IPC.  Have an app that uses a dedicated NIC for control, another for data plane.  Didn't see where I could set the localAddress for node-ipc's TCP/IP socket...

[2016-12-20 13:33] SunandoSamaddar commented on #88
Hey, hope you're doing good. I worked through it, yes, you're right.

On Tue, Dec 20, 2016 at 5:05 AM, Brandon Nozaki Miller <
notifications@github.com> wrote:

[2016-12-21 02:34] RIAEvangelist commented on #105
Are you saying that you want to enforce that only a specific client IP can connect to your IPC server?

[2016-12-21 04:10] mrb1090 commented on #105
Not exactly.  My client machine has multiple NIC ports.

One port is used for network traffic and the other for control traffic
(i.e. IPC).

Want to be able to specify which NIC port (i.e. IP address) the IPC
client is bound to when it makes a connection to the IPC server.  e.g.

Eth0 --> 192.168.0.100  IPC client traffic

Eth1 --> 192.168.0.200  other network traffic

i.e. would like to be able t

[2016-12-21 20:25] RIAEvangelist commented on #105
OK. Thanks for the clarification.

[2016-12-21 20:33] RIAEvangelist commented on #105
Just to clarify, you can specify the IP already.

However, if you want to specify the interface explicitly, I will look into that, you may want an IP table or something similar instead. But I will look into this if the existing ability to specify IP is not enough.

[2016-12-21 20:36] RIAEvangelist commented on #105
Just to confirm again,

| variable | required | definition |
|----------|----------|------------|
| host     | optional | If not specified this defaults to the first address in os.networkInterfaces(). For TCP, TLS & UDP servers this is most likely going to be 127.0.0.1 or ::1 |

Thats not what you want right? Thats from the docs.

[2016-12-21 22:24] mrb1090 commented on #105
Hi Brandon,

Read the docs.  Appears this variable is to specify the host (IP
address) of the IPC server.

I would like to be able to specify the host (IP address) of each IPC
client.  Is this currently supported?  If so, can you provide me an
example config?

Thanks,

Mike

On 12/21/16 3:36 PM, Brandon Nozaki Miller wrote:

--

********************
Michael R. Brown
617.877.9190

[2016-12-21 23:40] RIAEvangelist commented on #105
Sorry really confused Clients do not have an IP specification unless they are UDP. Once connected to the Server which does specify its IP communication is done over the opened socket.

Which connection type are you using?

TCP/TLS example,
IPC server hosts (listens on) 192.168.0.100
Clients Connect to 192.168.0.100

UDP example,
IPC server hosts (listens on) 192.168.0.100
Pseudo Client (actually s

[2016-12-21 23:44] RIAEvangelist commented on #105
you want ` localAddress ` and ` localPort ` available as configs right?

[2016-12-22 00:05] RIAEvangelist commented on #105
I'm going to add a ` .interfaces ` to the default congis which will expose all the socket specific overrides.

[2016-12-22 01:03] mrb1090 commented on #105
Yes! Thank you Brandon....

Mike

Sent from my iPhone

[2016-12-22 01:06] RIAEvangelist commented on #105
@mrb1090 can you pull down the master branch and see if this meets your needs?

You can specify ` .interfaces.localAddress ` and ` .interfaces.localPort ` on the config now.

Please test with your setup and let me know soon so I can publish. I have also made a few other modifications. If all is good I will update the doc and publish tonight.

All tests are passing.

[2016-12-22 02:05] mrb1090 commented on #105
Brandon,

Works like a champ!

Thanks again for the great package and this modification...

Hope to contribute to it in some way soon.

Mike

On 12/21/16 8:06 PM, Brandon Nozaki Miller wrote:

--

********************
Michael R. Brown
617.877.9190

[2016-12-22 03:15] RIAEvangelist commented on #105
Actually if you could create a dir in the TCPexamples called "basic network interface" and duplicate the "basic" dir contents with the tweaks needed tio get going for your use case, that would be super helpful.

Publishing in a few after my next commit.

[2016-12-22 03:16] #105 closed

[2016-12-22 03:19] RIAEvangelist commented on #105
Published :tada:

[2016-12-22 03:24] RIAEvangelist commented on #107
any updates?

[2016-12-22 03:24] #101 closed

[2016-12-22 05:49] ArsalanDotMe commented on #107
Adding null char to the beginning does not work. The only way I could make
it work was through another node module aptly named [abstract-socket](
https://www.npmjs.com/package/abstract-socket). It has its own native
extension to make abstract sockets work although the implementation is very
small and simple.

On Thu, 22 Dec 2016, 8:24 am Brandon Nozaki Miller, <
notifications@github.com> wrote:

[2016-12-22 08:04] RIAEvangelist commented on #107
I believe they are natively supported now since v0.12 that module was mostly useful in vrsion 0.10 and earlier. I will look into this as time becomes available.

Thanks for the update.

[2016-12-22 08:04] #107 closed

[2016-12-22 12:46] ArsalanDotMe commented on #107
BTW, I ran my own tests and this is also something you can test on your own quite simply. If you want, I'll send you some toy C++ server and node client sources. Abstract sockets are still not supported in node even on the current LTS (v6.x).

See this issue: https://github.com/joyent/libuv/issues/797

[2016-12-22 19:17] RIAEvangelist commented on #107
Yes, that would be awesome thanks :)

[2016-12-22 19:24] mrvini opened #108 "Remove node-cmd from package.json dependencies"
Please remove node-cmd from the package dependencies, it's not used by the the module, but rather carried some extra weight of the overall package

[2016-12-22 19:47] RIAEvangelist commented on #108
Thanks, it's needed for the testing suite, so I moved it to devDeps

released in [8.10.2](https://github.com/RIAEvangelist/node-ipc/releases/tag/8.10.2)

[2016-12-22 19:47] #108 closed

[2016-12-30 17:53] VooVoo01 opened #109 "How to start the ipc server on child process?"
I try to organize direct communication between child processes (wo parent).
But have an error when trying _ipc.server.start()_ on the child processes via Windows Sockets:

             Error: write ENOTSUP
                 at exports._errnoException (util.js:1022:11)
                 at ChildProcess.target._send (internal/child_process.js:662:20)
                 at internal/child_process.js:498:1

[2017-01-01 00:18] RIAEvangelist commented on #109
I don't know how you are starting the child process, but it seems it does not have support for sockets.

If you are doing this to utilize more cores or threads to make your program faster, I suggest starting sibling processes through the system interface. You could use something like `node-cmd` to do this.

btw childprocess in node is slow. I would spawn a whole new process.

[2017-01-01 13:48] VooVoo01 commented on #109
I'm starting the child processes using the cluster module with _cluster.fork()_ command. Then make IPC servers on every worker and organize direct communication between workers, without master process.
I changed _ipc.iconfig.id_ on every worker and left other setting by default.

It works fine on Linux, but makes above error on Windows.
There are simple example in attached file.
[cluster2.zip](htt

[2017-01-25 16:08] zaksmok opened #110 "add ipc.server.of for process grouping and automatic client registration"
Hello.
I see the code for adding websocket to "server.of" in branch v8.* (https://github.com/RIAEvangelist/node-ipc/blob/v8.x/dao/socketServer.js).

I don't see that code in latest release? Why there are different versions and newer one doesn't have code for server.of?

[2017-02-14 06:40] RIAEvangelist commented on #110
Can you confirm this is still an issue for you?

[2017-02-14 06:42] RIAEvangelist commented on #109
Appologies on the delay in responding I am back now and will have a look at this unless you have any further information.

[2017-02-14 08:17] VooVoo01 commented on #109
I did not find the solution and have refused from Windows :)
It works well on Linux.

[2017-02-14 09:31] zaksmok commented on #110
Yes. I just run in new empty folder `npm install node-ipc`
 it downloaded `node-ipc@8.10.2".

In the source code of `node_modules\node-ipc\dao\socketServer.js` i don't see any code responsible for handle handshake. After downgrading to `node-ipc@8.9.2` the code is visible.

[2017-02-14 09:48] RIAEvangelist commented on #110
Can you confirm that the expected functionality does not work? Or are you just saying you don't see it in the code?

[2017-02-14 09:51] zaksmok commented on #110
Expected functionality is not working. I debugged code and `server` variable doesn't have `of` key. That's why I cannot comunicate to specific client using it's ID.

[2017-02-14 09:56] RIAEvangelist commented on #110
are you on hangouts?

I'm not sure what you are trying to do. as far as I remember of has always been on the ipc object not the server object. All of the tests and examples are working.

if you are on hangouts hit me up @ the email on my profile https://github.com/RIAEvangelist

[2017-02-14 11:39] RIAEvangelist commented on #109
:1st_place_medal:  looks like this is a known issue on windows when using posix sockets.

Thanks for the update!

[2017-02-14 11:39] #109 closed

[2017-02-14 11:45] RIAEvangelist commented on #110
for posterity sake, @zaksmok and I spoke on hangouts about this and he was referring to some rejected code from the v8.x branch.

However he did bring up some really good points and we came up with an update for v9.0.0 which will include registration of client connections to server groups based on ipc.config.id

This should make load balancing super simple by just spinning up multiple instances of

[2017-02-14 13:44] RIAEvangelist commented on #110
@zaksmok

updates should be in place.
I also updated the example servers to use the socket.id in the logs. As well as removed id from all of the messages.

I will have to make some new examples and update the tests yet, but everything should be working on that branch. Some of the tests are failing, but after looking at them they need to be re-written a bit anyway. The QA that wrote them was less t

[2017-02-14 14:13] zaksmok commented on #110
great, thanks for your time!

[2017-03-08 16:18] kentmw commented on #95
Did this get converted into an enhancement request? I also have need for establishing a `SOCK_SEQPACKET` mode socket

[2017-03-17 16:45] joncraig opened #112 "Windows Sockets not sending EADDRINUSE in IPC error event"
I opened two ipc.serve Windows Sockets with the same path but it didn't raise EADDRINUSE in the IPC error event. Instead I saw this error from /dao/socketServer.js:
[code]
Digging into /dao/socketServer.js function startServer() it looked like 'this' was going out of scope in the error handler?
[code]
Changing socketServer.js with this worked for me:
[code]

[2017-03-31 05:33] pocketmax opened #114 "IPC message queues"
Does this package use IPC message queues? i.e. to list the queues "ipcs -q"

[2017-04-02 01:28] RIAEvangelist commented on #114
Of you want queues you can use sync or do confirmation events.

The event lists are available on your ipc instantiation if you want to see
them.

On Mar 30, 2017 10:33 PM, "pocketmax" <notifications@github.com> wrote:

[2017-04-11 20:22] mvaldina commented on #112
I'm facing a similar issue (two instances of node-ipc on the same TCP port).
I would like to know when this fix will be pushed on npm.

[2017-04-12 23:07] cdl commented on #112
👍 Running into this issue as well, and confirmed that the latest on `master` fixes it (with the changes in #113). Would love if we could get a small patch release with the fix in!

[2017-04-16 04:10] RIAEvangelist commented on #112
I'll finish up some of the modifications I am making for the ES6 version
and push tonight. When I do, if one of you guys could test to make sure
everything still works with your stuff that would be amazing. I'll only
push after the test suite passes, but want to have one of your input before
publishing.

On Wed, Apr 12, 2017 at 4:07 PM, Colby Ludwig <notifications@github.com>
wrote:

[2017-04-16 06:05] RIAEvangelist commented on #112
tested and merged. thanks!

[2017-04-16 06:05] #112 closed

[2017-04-16 06:06] #114 closed

[2017-05-31 15:38] birjolaxew opened #117 "Socket is never created"
Using code:

[code]

I get the following output:

[code]

No error is logged, no socket is created in `/tmp/`, process ends immediately.

OS: Arch Linux
nodejs@v7.10.0
node-ipc@9.0.1

[2017-05-31 15:40] birjolaxew commented on #117
Might be a good idea to call `.start` :P Sorry about that

[2017-05-31 15:40] #117 closed

[2017-05-31 16:42] birjolaxew opened #118 "Add option for socket permissions"
When serving from a script that's run as `root`, all clients must be run as `root` too, or they'll get an `EACCESS` error.

It would be neat if we could set the permissions of the created socket, so we can allow all users to connect as clients.

[2017-06-01 05:44] RIAEvangelist commented on #118
Could you use node-cmd for this?

On May 31, 2017 9:42 AM, "Johan Fagerberg" <notifications@github.com> wrote:

[2017-06-01 06:45] birjolaxew commented on #118
I can change the permissions manually using `fs.chmod`, but that requires me to know the path to it (eg. [this magic conversion](https://github.com/RIAEvangelist/node-ipc/blob/master/dao/socketServer.js#L306-L308)).

This could be eased by exposing the path, but I'd still consider it a responsibility of the module.

[2017-06-01 09:36] alexis57 commented on #105
Hi RIAEvangelist, thanks for the job !
I also would like to add a source IP (to select which interface the client will use).
I tried
[code]
but I get this error:
[code]
And I didn't find the example `TCPexamples called "basic network interface"`.
I am using npm to install node-ipc and here is the versions:
[code]
Thank you !

[2017-06-04 16:22] DutchKevv opened #119 "Does rawBuffer also add delimiter?"
Hi there,

At my project I'm converting all ipc communication to binary streams (rawBuffer).

For small messages I get it to work just fine, but as soon as messages get bigger (> 300-400 characters) the buffer seems to get concatenated/changed.

I place an int32 with the total length value at the beginning of every buffer. But this is corrupted on bigger messages, although if I do to toString() on

[2017-06-04 19:13] RIAEvangelist commented on #119
You can store your buffer and concat them then slicing the buffer once you
have the appropriate length.

On Jun 4, 2017 9:22 AM, "Kewin" <notifications@github.com> wrote:

[2017-06-05 13:29] DutchKevv commented on #119
Thanks

[2017-06-12 15:08] SlavMFM opened #120 "What is the first parameter in ipc.server.on( 'data' ) callback?"
Hello. I'm new to **node-ipc** and UDP. Trying to send UDP messages of length 32 bytes from **asio** (C++) client to such **node-ipc** server:
[code]

prints to console:

Why data.length is 0 and, it's not a coincidence (checked with other data being sent), socket.size is 32?
How can I read received data?

Thanks in advance.

[2017-06-13 09:51] RIAEvangelist commented on #120
You are receiving an empty buffer.

What are you sending?

On Jun 12, 2017 8:08 AM, "Slaus Blinnikov" <notifications@github.com> wrote:

Hello. I'm new to both node-ipc and UDP. Trying to send UDP messages of
length 32 bytes from asio (C++) client to such node-ipc server:
ipc.config.rawBuffer = true ipc.config.encoding = 'hex' ipc.config.silent =
true ipc.serveNet( 11000, 'udp4', function() { ipc.

[2017-06-13 11:01] SlavMFM commented on #120
Sending code on C++ side:
[code]
That is modified version of my actual code where I was sending data of size 8 and on node.js side data.length was also 0 but socket.size was equal 8

[2017-07-13 00:30] RIAEvangelist commented on #120
whatever ended up happening here?

[2017-07-13 00:31] #119 closed

[2017-07-13 00:32] RIAEvangelist commented on #110
almost ready?

[2017-07-13 00:33] #120 closed

[2017-07-13 08:45] SlavMFM commented on #120
No, I just gave up on it and directly listened to UDP on Node server.

[2017-07-13 22:37] zaksmok commented on #110
I think we should add function to autosend client ID after connecting. In current implementation user will have to manually emit his id. Can you look at this?

[2017-07-21 11:45] JuergenGutsch opened #123 "Server.broadcast not exposed in the type defintions"
Hi All,

the API exposed in the type definitions on https://www.npmjs.com/package/@types/node-ipc is not complete.
Wo is responsible for that type definitions file?

I miss the Server.broadcast method

[2017-07-21 12:22] RIAEvangelist commented on #123
That is a 3rd party service. It looks like that is missing *ALL* the types. would you like to contribute a type def file for that service?

[2017-07-21 12:36] RIAEvangelist commented on #110
not everyone wants id to be in their messages. this module is meant to be fast. I think the user organizing their sockets the way they want is OK when they want it. doing when they do not want it is just extra overhead.

[2017-07-21 12:37] RIAEvangelist commented on #110
PR almost ready to merge, just need to document the `ipc.server.of` and `ipc.server.of[id].broadcast`

[2017-07-21 12:44] RIAEvangelist commented on #118
I believe the ` magic port ` is exposed by that code you linked to as : ` ipc.path ` once the server is opened just fyi ;)

[2017-07-21 22:08] JuergenGutsch commented on #123
I thought you provided the type defs :)
In that case I'm going to complete the type def and add it to DefinetlyTyped repo (https://github.com/DefinitelyTyped/DefinitelyTyped)
Thanks :)

[2017-07-21 23:37] RIAEvangelist commented on #123
awesome thanks @JuergenGutsch ! :balloon:

[2017-07-21 23:37] #123 closed

[2017-07-25 19:28] imeckler opened #124 "How to serve *only* locally?"
Is there a way to make an IPC server only serve to clients on the same machine? Does `ipc.serve` do this? The documentation at [here](http://riaevangelist.github.io/node-ipc) makes it seem like `ipc.serve` also serves to the network, although the documentation [here](https://github.com/RIAEvangelist/node-ipc#serve) makes it seem like it does only serve locally.

[2017-08-03 01:54] RIAEvangelist commented on #124
if you use `unix sockets` they are only local.

if you want to use [TCP or UDP sockets](https://github.com/RIAEvangelist/node-ipc#servenet) you can set the host to localhost or 127.0.0.1 or any othe IP you want. Setting the IP to 0.0.0.0 will make it public for any domain or IP that is pointed at the machine.

[2017-08-03 01:54] #124 closed

[2017-08-03 01:56] RIAEvangelist commented on #118
allowing

[2017-08-03 01:56] #118 closed

[2017-08-03 01:56] #97 closed

[2017-08-15 12:39] EdikDolynskyi opened #125 "Mistake inside handling event "on error""
I have found the mistake inside function `startServer()` on handling event "on error". Log error and publish  doesn't work correct (socketServer.js:292)

[code]

Probably, we should bind `this` to callback and  there should be something like this:
[code]

Could you please fix it as soon as possible?

[2017-08-15 21:19] RIAEvangelist commented on #125
Can you provide some code i can test this with?

Examples semm to be logging correctly.

![screenshot from 2017-08-15 14-17-09](https://user-images.githubusercontent.com/369041/29336996-a07c4e6a-81c4-11e7-8b73-8d22eed72e57.png)

[2017-08-15 23:22] RIAEvangelist commented on #125
![screenshot from 2017-08-15 16-22-05](https://user-images.githubusercontent.com/369041/29340826-e7ded316-81d5-11e7-8d06-4f2d91b1f0a8.png)

[2017-08-25 07:20] RIAEvangelist commented on #125
@EdikDolynskyi can you please provide some code I can use to confirm your issue?

[2017-08-25 07:48] EdikDolynskyi commented on #125
@RIAEvangelist I am sorry, I have used node-ipc inside my app so it is difficult to show an example. But an error related to this issue appears when I call `ipc.server.start()`  inside callback on event `"disconnect"`.

[code]
Error:
[![Screenshot from Gyazo](https://gyazo.com/42c8704dab2ff76e51f14de9619b997a/raw)](https://gyazo.com/42c8704dab2ff76e51f14de9619b997a)

The error appeared very rarely

[2017-08-25 08:41] RIAEvangelist commented on #125
@EdikDolynskyi awesome! Thank you :+1:

[2017-08-25 08:44] RIAEvangelist commented on #125
@EdikDolynskyi can you make sure you are on the latest? It looks like the code you are suggesting is already inplace. I think your version may be old.

![screenshot from 2017-08-25 01-43-16](https://user-images.githubusercontent.com/369041/29706518-ee7cc968-8936-11e7-8290-f2ea4376e9af.png)

[2017-08-25 08:45] RIAEvangelist commented on #125
@EdikDolynskyi please let me know if your version was infact the bug or not.

[2017-08-25 08:47] EdikDolynskyi commented on #125
@RIAEvangelist current version of my installed `node-ipc` is "9.0.1"

[2017-08-25 08:49] EdikDolynskyi commented on #125
@RIAEvangelist Oh, I see, you had two more releases) Is it fixed already?

[2017-08-25 09:09] RIAEvangelist commented on #125
@EdikDolynskyi I'll check `v9.0.1`

[2017-08-25 09:14] EdikDolynskyi commented on #125
@RIAEvangelist It is not necessary, I found it was fixed on May 19, 2017, and released at version `9.1.0` a month ago. Thanks!

[2017-08-25 09:14] RIAEvangelist commented on #125
@EdikDolynskyi yes this was fixed in `9.1.0` by @atiertant

[2017-08-25 09:14] #125 closed

[2017-08-25 09:14] RIAEvangelist commented on #125
welcome ;) :tada:

[2017-08-31 10:16] ioncreature opened #127 "Cannot read property 'log' of undefined"
Hi there!

I faced with `node-ipc` unhandled exception after running only client code:

[code]

I expect to receive `Error: This socket is closed` to `error` event listener but got unhandled exception:
[code]

The same error both in `8.9.3` and `9.1.1`

[2017-08-31 18:06] zaksmok opened #128 "JavaScript heap out of memory"
I'm receiving:
`FATAL ERROR: CALL_AND_RETRY_LAST Allocation failed - JavaScript heap out of memory
 1: node::Abort() [node /home/server/cluster.js]
 2: 0x56400b20885e [node /home/server/cluster.js]
 3: v8::Utils::ReportApiFailure(char const*, char const*) [node /home/server/cluster.js]
 4: v8::internal::V8::FatalProcessOutOfMemory(char const*, bool) [node /home/server/cluster.js]
 5: v8::internal:

[2017-09-10 09:06] RIAEvangelist commented on #128
Are you on the latest versions, and Is it possible you have an endless loop somewhere in your code?

[2017-09-10 09:08] RIAEvangelist commented on #127
you are using ` log('data') ` but have not defined log. Try ` ipc.log ` if you want to use node-ipc's built in logger.

[2017-09-10 09:08] #127 closed

[2017-09-11 06:15] zaksmok commented on #128
I'm using version 9.1.0.
I shared whole code on pastebin here: https://pastebin.com/DtFx60sW.
There is no loop. Cluster.js is used as middle app. It's receiving messages and send to socket.js (in cluster mode). I have about 10 services and 4 socket clusters.

As you can see cluster.js code is very simple and for some reason there are memory leaks.

[2017-09-14 13:41] ioncreature commented on #127
@RIAEvangelist
This problem is problem of `node-ipc` itself, not in my code

Look at
https://github.com/RIAEvangelist/node-ipc/blob/17f7f111ff23bf11cdd95ff0cc0eae7d161e3d8c/dao/client.js#L148-L155

Look at my code else one time.
After 1 second it tries to emit to socket when no socket connection established.

So error message says that there is no `client` variable in line `151`

And it should be

[2017-10-22 20:06] wgrhstf opened #129 "multiple Clients on disconnect"
I use node-ipc in Electron for Communication between a Server-App and multiple Clients. So on Serverside I start with

    NodeIpc.config.id = 'world';
    NodeIpc.config.retry = 1500;

on Client Side it reports back with

    NodeIPC.config.id = 46f41bdd-dd60-4eb1-82ee-0313e4f1adc7; // <-unique Client ID
    NodeIPC.config.retry= 1500;
    NodeIPC.connectToNet(
    'world',
    function(){

[2017-10-22 23:17] RIAEvangelist commented on #129
It looks like whatever is causing the client to disconnect is in the server code, and when the client reconnects it is rejected or closes shortly therafter.

Does that seem like a possibility?

[2017-10-22 23:18] RIAEvangelist commented on #128
Was there ever any progress made on this?

[2017-10-22 23:21] RIAEvangelist commented on #129
Or perhaps are you storing the client refrences somewhere in your code? If you are it is possible your code is trying to read from sockets that are closed, instead of accessing directly from ipc.of or similar.

[2017-10-23 05:03] wgrhstf commented on #129
The references are not stored anywhere else (in fact the ID's I use for the socket are used in couple of other script parts, but not in main.js where the node-ipc communication takes place).

The Client disconnection itself is on purpose. Sometimes the user just opens it for a couple of seconds, closes it and reopens again. But the multiple `Client xxx down! client xxx has disconnected!` leads to

[2017-10-23 08:35] zaksmok commented on #128
I tried to figure out the problem - no results. It's still happening from time to time

[2017-10-25 18:03] RIAEvangelist commented on #128
Are you logging to the console or to a file?

I recall when I first started with node logging to the console, after some time depenkding on verbosity the service would crash. Logging to a file or using forever to start the processes with -a and the file name fixed the issue.

[2017-10-25 18:06] RIAEvangelist commented on #129
how about the client code?

On Sun, Oct 22, 2017 at 10:03 PM, wgrhstf <notifications@github.com> wrote:

[2017-10-25 18:09] zaksmok commented on #128
I'm using pm2 to start processes, it's logged to file and console. Additionally i'm usiing winston for my custom logging to files. What do you mean by using "-a" option? I didn't find this option in node docs

[2017-10-25 18:59] wgrhstf commented on #129
It's mainly what I wrote in my initial Post:
[code]
Nothing strange in here I think...

[2017-10-30 13:22] syberkitten opened #131 "connecting multiple clients to server from the same process"
Is it possible to create multiple client instances
from the same process to connect to a IPC Socket server?

It comes for testing purposes where i need to connect multiple processess
to a server, yet while testing it's more convenient to instantiate the clients
within a single process.

I'm getting this response when the second client is trying to connect:
[code]

[2017-10-30 20:45] syberkitten commented on #131
[code]

var config = {
  appspace: 'app.',
  socketRoot: '/tmp/',
  networkHost: 'localhost', // should resolve to 127.0.0.1 or ::1 see the table below related to this
  networkPort: 9200,
  encoding: 'utf8',
  rawBuffer: false,
  sync: false,
  silent: false,
  logInColor: true,
  logDepth: 5,
  retry: 500,
  maxRetries: false,
  stopRetrying: false
}

function extend (target) {
  var sources = [

[2017-11-09 18:24] ryan-roemer opened #133 "Consider an OSI-approved license?"
Fantastic library!

While the DBAD license is hilarious, it's sufficiently ambiguous + has some arguable restrictions that means we can't use it with any of our client projects that have a legal department that cares.

Would you be open to considering a more boring-but-widespread [OSI-approved license](https://opensource.org/licenses/category) like MIT or BSD?

Thanks for the potential considerati

[2017-11-22 14:17] Catlite91 opened #135 "ConnectTo the starting server."
If client connect to the serve using UnixSocket which is already in starting, currently node-ipc will throw an Error.
Is this problem possible to be resolved in the node-ipc module?

[2017-11-23 14:54] patrickjane opened #136 "Messages getting lost"
I am facing the problem that if I execute the `ipc.server.emit(socket, ...)` function in a loop lets say 1000 times, then the client side will receive malformed messages and/or messages are missing.

It will look kind of like this:

[code]

I am using raw buffers. I tried setting "sync" to true, but it didn't have any effect.

Is this the expected behaviour, or what should be considered if a serve

[2017-12-08 05:15] trend-setter opened #137 "Invalide JSON response format"
I'm using a basic client-server application using node-ipc. COmmunication works fine in initial stages of deployment. But if any request is sent after some 8-10 hours, Server is not able to read any message sent from Client and the control is struck. Server throws the following error

**Server Code:**
`ipc.config.id = 'server';
ipc.config.retry= 1500;
ipc.config.networkPort = 8500;
ipc.config.netw

[2017-12-21 15:47] utillity opened #138 "broadcasting to local subnet (UDP)"
do I understand correctly that your server.broadcast() method will "broadcast" to all connected (TCP) clients? I need to broadcast to the local subnet (UDP) - and I believe sockets must be opened in a specific way to allow broadcasts to be sent/received.

I cannot get this to work on Windows 10, Electron. Is this supported? An example would be great, as I cannot get the current examples to work fo

[2017-12-28 15:49] wgrhstf opened #139 "disconnect not fired when network is down"
Maybe it is something fundamental I'm missing. When I shut down my (TCP) Client or server application the other side reacts with a `disconnect` event as assumed, and I can react properly.
But when I cut the network by puling the plug both sides do not recognize they are disconnected from each other. Is there any way to tell the connection between server and client is interrupted in node-ipc, or do

[2017-12-29 21:07] stulees opened #140 "Client socket id requires being explicitly provided in message data"
Documentation states that when receiving the `socket.disconnected` event, it will provide the `destroyedSocketID`. However, the value for it is always `false`. It seems intuitive to assume that when you set a value for `ipc.config.id` for a client that it would be inherently applied as the id of the client socket.

In inspecting the code further, it appears that (undocumented) the id of a socket i

[2018-02-02 05:42] rahul-dutt-sharma commented on #127
I do not see how providing a log function would help as the client itself if evaluated to undefined (as per the error stacktrace)

[2018-02-12 18:29] JohnWeisz opened #141 "Better event documentation"
I've created a server with `serveNet`, connected my client (from C++ using Winsock) to it, and sent it a message. The message is visible and I can obtain the binary data exactly as it was built on the C++ end (it's an array of integers transmitted as a byte array).

At one point I however, need to send binary data _to the C++ client_, but it seems the `emit` method requires a socket object of some

[2018-02-12 18:42] JohnWeisz commented on #141
Alright, so as it turns out, most events will also include the socket object on the list of callback arguments, it's just not documented.

In particular, it's available from the `connect` event.

[2018-02-27 19:38] jviotti commented on #136
Hi @patrickjane ,

Can you give us an example program? I can't manage to reproduce this.

[2018-02-28 00:01] #136 closed

[2018-02-28 07:02] patrickjane commented on #136
Unfortunately I can't, because I am not working with `node-ipc` anymore.

[2018-03-10 17:56] jrylan commented on #133
@RIAEvangelist do you see any possibility of this happening? Maybe making it part of a new major release, such as 10.0.0?

I agree 100% with the spirit of the DBAD license, unfortunately legal experts at companies are often pretty ridged about saying "we only accept BSD, ISC and MIT licensed software".

I've looked around for alternatives and came to the conclusion that `node-ipc` is by far the be

[2018-03-21 03:17] dantman commented on #133
I find this fairly annoying as well. It's used in parallel-webpack which I'd like to make use of.

I've got a license checking tool to ensure that I don't accidentally include proprietary or GPL code. It was tripped up by this package because the `license` field is invalid. The `license` field is supposed to be a valid spdx license identifier (or "UNLICENSED" or "SEE LICENSE IN ..." for proprietar

[2018-03-21 05:15] RIAEvangelist commented on #133
Guys the licence is pretty clear, buy me a pint if you or your company is
successful, or forever know deep down inside that you are a dick.  It's
black and white. Enjoy the code wether you are successful or not and buy me
a pint or don't, that is upto you the licence is clear what you are if you
don't and you feel like you should ;)

On Tue, Mar 20, 2018 at 8:17 PM, Daniel Friesen <notifications@g

[2018-03-21 05:33] ryan-roemer commented on #133
@RIAEvangelist -- Yep, I don't think any of us are saying you aren't getting your point across. 😄 If I used this package in one of my personal projects, I would definitely buy you a beer or 10.

You have full say on how you want to license this project and allow its use, I just wish that I _could_ use this package for some of my client projects at work (that run software @dantman alludes to, or ha

[2018-03-21 11:52] jrylan commented on #133
@RIAEvangelist Agreeing with @ryan-roemer here -- we all get it the point and in the context of personal project, or even start ups in which we were the founders there is no issue with the license.

The problem is with corporate employers and clients having a strict set of acceptable licenses. I consult with dozens of companies and the routine is roughly the same: print out the licenses for all th

[2018-03-21 18:58] dantman commented on #133
Not just companies. This kind of custom licensing is frowned on in the open source community. If the license isn't even listed in spdx (which lists a lot of weird licenses, including things like the old incompatible 4-clause BSD) it's pretty surely not an accepted license. And the wording may even exclude it from most community's definitions of open source. Remember when [a "do not be evil" clause

[2018-03-21 19:31] jrylan commented on #133
Very, very good point there @dantman. This issue echoes the Apache Category X listing of React prior to Facebook relicensing as MIT.

I have a rather large MIT licensed project that's in private alpha testing and I'm currently using `node-ipc `as part of a long running helper client that watches the file system and reports contextual updates across all the connected listeners (Node, VS Code plugin

[2018-03-21 19:49] dantman commented on #133
Which is another shame, since React and especially React Native should not have been relicensed to plain MIT. It should have been Apache 2.0, a Apache 2.0/GPL-0.2-or-later dual-license, EPL, or anything else that fits. Just not a MIT license with absolutely no patent protection whatsoever. But that's a separate discussion.

[2018-03-22 21:34] RIAEvangelist commented on #133
With the current license, node-ipc is being used in FDA regulated projects
including medical implant software. The licence has not caused any issue
for these regulated fields.

Could you guys site the portion of the current licence which you think
could result in a legal issue for you? If there is in fact a possible legal
issue I will then open up to suggestions. As it stands, I do not believe
the

[2018-03-22 22:00] dantman commented on #133
https://en.wikipedia.org/wiki/License_proliferation
https://opensource.org/node/365
https://opensource.org/proliferation

[2018-03-22 22:16] ryan-roemer commented on #133
There definitely is one level of just "predictability" and "it's already approved" that makes things easier. But you don't have to be boring just because everyone else is.

... so I'd look at the next issue of "restrictions". A license gives up certain copyrights within certain bounds. For MIT, BSD, etc. there's not much in the way of restrictions beyond preserving some notices, etc. By contrast,

[2018-03-23 01:41] RIAEvangelist commented on #133
Where can I send you a pint? Your detailed responses was both hilarious and
informative. I will modify the license as you have suggested, and submit
the changes to the original work as well sighting this thread.

On Thu, Mar 22, 2018 at 3:17 PM, Ryan Roemer <notifications@github.com>
wrote:

[2018-03-23 02:08] dantman commented on #133
Fixing questionable legal wordings in the license is good. But as far as Open Source goes having developers make their own custom license is still harmful to the ecosystem, even if there were made by an actual lawyer. Developer A trying to use your library in their project is not qualified to determine whether your license is compatible with their license and acceptable to all the people they want

[2018-03-23 21:59] ZeeCoder commented on #133
"Being a dick includes - but is not limited to - the following instances:

1a. Outright copyright infringement - Don't just copy this and change the name."

So if I were to copy the lib, change the name BUT also change the license (say, to MIT) and the readme, saying that the only reason I'm doing this is to allow myself to use it for client projects (so giving full credit to the author), and also

[2018-04-30 08:46] lutzbickhardt commented on #140
Actually the same applies to the connect and close events; it would be nice to get the socket.id
that opened or closed as parameters.

[2018-05-22 16:10] edwardchanjw opened #143 "[Question] Communicate with Window Named Pipe (.NET 4.5 AND .NET Core 2.0 Sample)"
Actually no really familiar with socket knowledge, and Windows related API, I trying to send the message over the named pipe. I not really so clear about the underlying data conversion.

But actually I did able to get something from .NET Client to node-ipc server. But also have issue in data.
If the buffer contain json.stringify of JSON. But I prefer to be .NET server and node-ipc client.

The [re

[2018-05-28 13:01] dushyantbangal opened #144 "[Question] Cross Platform usage"
I'm thinking about using local Unix Socket Server for connecting my different microservices.
With the examples, I'm easily able to connect the node.js based clients.

How can I use this with python clients? Is there any library that you can point me to or show me a way I can achieve this?

If I'm able to connect to the Socket, what kind of format do I have to use in order for the node-ipc to detec

[2018-05-30 11:16] frankboehmer opened #145 "Loss of messages"
node-ipc will lose/mix up messages when dealing with long messages and heavy concurrency:
socketServer.js / gotData holds a buffer this.ipcBuffer. This variable is shared with all client connections. Thus, concurrent clients will fill up the same buffer, messing up things.
A quick but dirty fix might be to change this to socket.ipcBuffer.
A better option might be to have it as a closure in serverC

[2018-05-30 11:18] frankboehmer commented on #137
Might have its root cause in #145

[2018-05-30 11:19] frankboehmer commented on #136
See #145

[2018-05-31 09:10] hasezoey opened #147 "socket.write(message);"
[code]

Windows 10@latest
nodejs 10@latest
node-ipc@9.1.1

executet in a cluster (`require('cluster')`)

(main and child are in the same file)

main.js
[code]

child.js
[code]

[2018-06-01 12:44] frankboehmer commented on #145
Would be great if someone could fix this or merge my pull request. This is a serious flaw and may affect unnoticed a lot of production systems.

[2018-06-12 02:55] xnite commented on #147
Having the same issue.

[2018-06-19 11:56] vladikus10 opened #148 "[Question] A way to check processes load."
I'm using `node-ipc` to communicate between normal node app processes and a single server process which handles "global" timeouts. Once a timeout has ran out, the server notifies a single process about it and it executes an action.

It works just fine, however, my current issue is that the server has to pick a random process from the pool and notify it. Is there a way to get a single process that

[2018-07-05 00:16] oldmud0 commented on #133
Why not dual license it? :laughing:

[2018-07-05 09:03] ZeeCoder commented on #133
oh so dual licensing means either or? not that both applies? 😲

[2018-07-30 16:12] hyandell commented on #133
Noting that the license is now on the Apache Category X list.

[2018-07-30 17:41] oldmud0 commented on #133
I also wish to note that I do not use this library any more - there are also style issues I have experienced working with this library. I am using websockets for IPC instead, which is good enough for my small project (I'd recommend a message broker/message queue like Redis or ZeroMQ for large projects though), but that's a whole different topic altogether.

[2018-08-03 02:36] njleonzhang opened #150 "anyway to know connectTo fail?"
is there a method through which I can know the connect failed? for example. the ipc server is not started.

[2018-08-13 11:35] NbOpposite commented on #150
It will keep emitting errors on every failed retry as well, so keep that in mind!
`ipc.of[id].on('error', (err) => { /* dostuff */ })`

[2018-08-13 11:45] SimplyLinn opened #151 "Adding js docstrings and generate an API reference"
I just recently started using this and feel like I'm flying somewhat blind.

If I were to go trough the code and add relevant docstrings and a travis bulidscript that generates a more feature rich documentation page with an API reference, and automatically published that to gh-pages, turned that into a PR, would that PR be merged?

It would be quite a time-consuming task and I wouldn't want to do

[2018-08-13 12:01] njleonzhang commented on #150
Thx

[2018-08-13 12:01] #150 closed

[2018-09-10 17:45] Slapbox opened #152 "Prevent automatic logging of error messages to the console?"
When I try to connect to a socket which isn't available, currently I get the following:

[code]

How can I prevent this logging activity?

[2018-09-12 23:21] Slapbox opened #154 "Reconnecting to 'Windows Socket' on Windows cannot occur if server process restarts"
When my server process is stopped, if I start it back up again, my client cannot connect. I have to stop and start the server process a second time before it will connect.

Any thoughts on how to remedy this, or what may cause it?

[2018-09-15 18:09] crussell52 commented on #147
Ran into the same problem -- dug deeper and found `ipc.server.broadcast()` -- for udp sockets, `ipc.server.emit()` delegates to `ipc.server.broadcast()` if a socket is not specified.  The same does not happen for other connection types (socket files in my case).

[2018-09-18 21:52] #154 closed

[2018-09-18 21:52] Slapbox commented on #154
Add a delay before restarting your node-ipc server to avoid this. 5 seconds seems to be plenty.

[2018-10-12 17:02] crussell52 commented on #147
@asos-martiplanellas I really hope this isn't bad etiquette to mention here, but... this project appears pretty dormant to me so I moved on to my own file-socket ipc implementation. I am not using it in production (yet), but that's the goal.  It is published under the MIT license, so if it helps you I'd love the feedback.

https://github.com/crussell52/node-socket-ipc

[2018-10-22 01:58] techsin opened #155 "How do I handle dynamic remote hosts?"
This is a question not a bug report or feature request.

What if I've multiple nodejs instances running which are not child processes of main process. But on different machines. For example heroku. I don't know ahead of time of what ip address or port they are going to be spawned at. What are some solutions..

Thanks.

[2018-10-29 13:49] scriptcoded commented on #140
Any updates here?

[2018-11-02 08:58] wgrhstf commented on #155
I ran into the same Problem and did it with the Machine Name. I've got the Name of my Admin Computer, let's say 'AdminMachine'. So there I set up my NodeIPC Server via
[code]
Every Client is now listening to 'world' via

[code]
And on connect sends it's Data to the Admin for further processing
[code]
So on my Admin Machine I can collect the Data of any Client for further processing, or sending out

[2018-11-20 02:30] RobinTail commented on #152
@Slapbox
ipc.config.silent = true

[2018-12-20 22:17] dwelle commented on #35
Still an issue because the [retry timeout](https://github.com/RIAEvangelist/node-ipc/blob/master/dao/client.js#L193) isn't cleared, thus it can fire when the `disconnect()` is called in the middle.

[2019-01-22 15:09] frank-dspeed commented on #145
@frankboehmer when some one uses this in production he is doomed anyway :dagger:

[2019-02-25 02:18] allofee commented on #137
Encountered the similar issue. When the client re-connected to server, and client emit a msg to server, the server will receive wrong msg content like below.
The original test msg sent is {"type":"message","data":{"url":"null","type":2,"fileName":"null"}}.

## socket connection to server detected ##
received event of :  error { message: ESC[32m'Invalid JSON response format'ESC[39m,
  err: SyntaxEr

[2019-02-26 18:03] RacerDelux opened #157 "Messages are large, You may want to consider smaller messages."
Testing out a c# to nodejs implementation.
I am basing my example off the following code: [](https://github.com/edwardchanjw/nodeipcWithCSharp)
There is one thing I changed, in the mentioned example, they use '--' to terminate the string. I removed that setting and moved it back to the standard '\f' termination.

This is the log of the message I try to send:
`{ "type": "message", "data": {"foo": "

[2019-03-05 16:25] myfreescalewebpage opened #158 "Synchronous request and response ?"
Hello all,

First wanted to say I'm new to Node.JS and try to learn by practice, so maybe my question is trivial, but anyway I have google a lot and haven't found a clear solution to this issue.

I have basically followed https://github.com/RIAEvangelist/node-ipc#basic-examples to get a Unix Sockets example with server+client exchanging messages. Working.

In the application I'm developing, I try

[2019-03-27 08:46] wa11a opened #159 "ipc.server.on('started') type of event or async await"
now when you call "ipc.server.start()"
there's no way to get notified or wait for it to start.
so if I call stop and the server didn't start yet it will still be running.

[2019-04-09 10:33] philkunz opened #160 "program not terminating correctly"
I wrote a little wrapper around node-ipc for easier client/server code reuse
For some reason stopping node-ipc won't work. In other words some server/client part is hindering nodejs from quitting.

Anything I need to add here -> https://gitlab.com/pushrocks/smartipc/blob/master/ts/index.ts#L65

[2019-05-21 14:04] TanninOne commented on #145
@frank-dspeed Could you elaborate a bit? I'm also noticing messages going missing even with just a single client but is this module known to be too buggy/unsafe?
Is there a more robust alternative?

[2019-05-21 14:45] frankboehmer commented on #145
@TanninOne the package is not maintained and has critical issues.
(Latest commit 70e03c1  on 26 Oct 2017)

[2019-05-22 12:53] TanninOne commented on #145
Well, an ipc library is a narrow scope, I'm actually fine with a library like that being done and not needing constant updates.
The critical issues that apparently don't get fixed are a bigger problem though.
Soo, any good alternatives?

[2019-06-20 23:24] fas3r opened #161 "TLS | add `secureContext` option from net.createServer()"
Hello @RIAEvangelist,

- (1) With `TLS` it's possible to provide a `secureProvider` that contains the `cert`, `key` and `[ca(s)]` as buffers when calling `tls.createSecureContext()`, would it be possible to expose that option ?

- (2) Still with `TLS`, would it be possible to expose [server.setSecureContext()](https://nodejs.org/api/tls.html#tls_server_setsecurecontext_options) method ? It allow t

[2019-06-28 08:57] lukethompsxn commented on #157
I have found this exact same problem when trying to send data from a C application. @RacerDelux did you manage to find a solution for it?

[2019-06-28 18:03] RacerDelux commented on #157
I had to use a different solution. I am using TCP now.

[2019-06-29 08:04] lukethompsxn commented on #157
@RacerDelux Still using node-ipc or another node library?

[2019-07-03 05:07] RacerDelux commented on #157
just the built in TCP sockets.

[2019-07-12 20:22] windware-ono commented on #145
Surprised I couldn't find any viable alternatives to do simple IPC.

I was actually using [axon](https://www.npmjs.com/package/axon) before but I didn't feel the code was too complete (client connections somehow didn't close and callback not getting called.) and then found node-ipc has a serious flaw...

But figured a simple 'net' would do it.

server.js
[code]

client.js
[code]

[2019-09-01 19:45] mifi commented on #160
Same problem here. Something is not being closed correctly. When running `why-is-node-running` there is a open pipe, which i suspect to be the culprit:
[code]

[2019-09-01 20:24] mifi commented on #160
I think this is caused by the fact that net.Server.close does not close the connections, but it waits for all connections to close before terminating the server.
From https://nodejs.org/api/net.html#net_server_close_callback:
[code]

Could be solved by [unref](https://nodejs.org/api/net.html#net_server_unref), maybe with an option in node-ipc `unref: true/false`

[2019-09-30 22:43] Slapbox opened #163 "Compatibility With Node 12?"
I've not done a pure Node 12 test, but my packaged IPC application can't communicate with Electron 6 (based on Node 12.4) Well, actually communication works in only one direction.

I noticed that tests end at Node 8? Is there any plan to maintain this library anymore?

[2019-10-05 14:18] JustinTrudeau1999 opened #164 "How can i spawn a new connection instead utilizing already connected?"
Hello. FIrst of all great module. But i stumbled on a problem.

Basically a i have a site, on that side user can do some actions, and on the server node-ipc packet get send to node-ipc server, like so:

[code]

So let's say 20 this function is called 20 times, at the same time for 20 users. I put require in function scope, but it still try to utilize that global instance created first time. What c

[2019-10-08 13:31] seba-salavilla commented on #157
try sending especial character code \f =code 12
like golang
fmt.Sprintf("{jsondata}%c",12)

[2019-10-08 13:32] seba-salavilla commented on #157
try sending especial character code \f =code 12
like golang
fmt.Sprintf("{jsondata}%c",12)

[2019-10-12 23:26] RIAEvangelist commented on #157
You may need to change the buffer size in your node setup or system buffer
for the socket type. It is likely one of those two.

If it isn't causing any problems, likely solutions are not to log it or to
catch it.

On Tue, Oct 8, 2019 at 6:32 AM Sebastian Salazar Villalobos <
notifications@github.com> wrote:

[2019-11-11 14:33] timbowhite opened #165 "listening on "*" (wildcard) does not return event name or data for node >= 10"
See https://github.com/RIAEvangelist/event-pubsub/issues/19

[2019-11-22 20:50] dmawrey opened #167 "SOCK_SEQPACKET support?"
I've been looking everywhere for a node package to handle the unix socket type SOCK_SEQPACKET and I can't see it clearly stated anywhere whether node-ipc would be capable of this. If not, consider this an enhancement request. :)

[2019-12-02 08:57] #165 closed

[2019-12-02 08:59] RIAEvangelist commented on #167
if it is sequential packet, then yes, and there is an example as well.

[2019-12-02 08:59] #167 closed

[2019-12-02 09:01] RIAEvangelist commented on #164
I don't think this is an issue with the library, but let me know how you fixed your issue, if you were able to.

[2019-12-02 09:01] #164 closed

[2019-12-02 09:03] RIAEvangelist commented on #163
Sorry for the very long delay. v10.0.0 should be released soon, and will fix this issue. Same as #165

[2019-12-02 09:04] RIAEvangelist commented on #161
How is this different than the current TLS socket?

[2019-12-02 09:04] #161 closed

[2019-12-02 09:05] RIAEvangelist commented on #160
Any more info on if this is needed or not? I am closing just because necrobump.

[2019-12-02 09:06] RIAEvangelist commented on #159
This is interesting, any further suggestions?

I am closing just because necrobump.

[2019-12-02 09:07] RIAEvangelist commented on #158
in the docs there is a section on synch search for syn in the docs you'll find it. Same in the examples as well.

[2019-12-02 09:07] #158 closed

[2019-12-02 09:08] #157 closed

[2019-12-02 09:09] #155 closed

[2019-12-02 09:10] #152 closed

[2019-12-02 09:10] #110 closed

[2019-12-02 09:10] #128 closed

[2019-12-02 09:10] #129 closed

[2019-12-02 09:10] #131 closed

[2019-12-02 09:10] #135 closed

[2019-12-02 09:10] #137 closed

[2019-12-02 09:10] #138 closed

[2019-12-02 09:11] #139 closed

[2019-12-02 09:11] #143 closed

[2019-12-02 09:11] #144 closed

[2019-12-02 09:11] #145 closed

[2019-12-02 09:11] #147 closed

[2019-12-02 09:11] #148 closed

[2019-12-02 09:23] utillity commented on #138
why do you close without commenting?

[2019-12-02 10:13] RIAEvangelist commented on #138
Answer is in the example/UDP/Multi client broadcast.

I closed without commenting because it's in the docs and examples and thought I would just be necro bumping the post.

[2019-12-02 10:37] RIAEvangelist commented on #145
This will be fixed in v10.0.0 it was a collision issue.

[2019-12-02 11:09] mifi commented on #160
Would be nice to have unref exposed thru the api

[2019-12-02 19:31] Slapbox commented on #163
@RIAEvangelist thanks so much for the update!

[2019-12-02 20:52] RIAEvangelist commented on #163
@Slapbox Welcome, it may take a week to get out. Now that public and private props are native for classes I am going to rewrite and update min node version to keep compatibility in the old versions.

also making it apache 2.0 licence. too many companies complaining about dbad

[2019-12-02 23:33] Slapbox commented on #163
@RIAEvangelist I think it's a great move to ditch dbad for the sake of satisfying "corporate." Why Apache versus MIT though? MIT seems closer to dbad, but both seem like fine options - I'm just wondering.

[2019-12-03 06:34] RIAEvangelist commented on #160
Ok

[2019-12-03 06:36] RIAEvangelist commented on #160
Should probably just default to that.

[2019-12-03 06:37] RIAEvangelist commented on #163
I don't really have a preference one way or the other. I'll Google an Apache vs Mit

[2019-12-05 06:04] RIAEvangelist commented on #143
did you ever get anywhere with this?

[2019-12-05 06:05] RIAEvangelist commented on #148
maybe you could use node-cmd to get that from the system

[2019-12-05 06:07] RIAEvangelist commented on #151
Have you tried using the documentation that is written already?

If so, what more are you looking for? If what you are looking for is not present and seems valuable, I would love to request this when v10.x is nearing completion.

Thanks.

[2019-12-05 06:09] RIAEvangelist commented on #147
Project is active.  Apologies for the delay, is this still an issue?

[2019-12-05 06:10] RIAEvangelist commented on #144
If you still need this info, please let me know where you would expect it in the docs, if not already there.

Thanks

[2019-12-05 06:11] RIAEvangelist commented on #163
I guess this issue should stay open

[2019-12-05 06:12] RIAEvangelist commented on #161
Secure context is used. as part of the 10.x upgrade, I looked into this. We are already using it.

[2019-12-05 06:12] RIAEvangelist commented on #159
I'm opening as this is a valid feature request.

[2019-12-05 06:16] RIAEvangelist commented on #157
It is also possible this was related to socket corruption. We will keep testing to see if this still happens in v10.x branch

[2019-12-05 06:17] RIAEvangelist commented on #152
You can push a custom log function onto the ipc object. I believe it is in the docs.

LMK if not.

[2019-12-05 06:20] RIAEvangelist commented on #147
Also, were you guys listening for the connected event before trying to emit? The socket may not yet have been created or connected.

[2019-12-05 06:22] RIAEvangelist commented on #141
We should document that the socket is available here.

Re opening to request documentation either from you or me. Either way is good. Just need to remember it.

Working on the v10.x branch

[2019-12-05 06:24] RIAEvangelist commented on #140
in v10.x we will move to either passing back a ref to the socket itself or the id to fix this. Thank you for the leg work.

Reopening to make sure we test.

[2019-12-05 06:26] RIAEvangelist commented on #139
It's likely a system socket timeout. This is the essence of a DOS attack.

[2019-12-05 06:28] RIAEvangelist commented on #137
not sure about this one, would like more info. Likely a buffer corruption from the previous. It may be fixed in v10.x

[2019-12-05 06:29] RIAEvangelist commented on #133
I will update to Apache 2.0 in v10.x which is underway no on the v10.x branch

Reopening until released.

[2019-12-05 06:31] RIAEvangelist commented on #135
Not enough info. Can only help withmore info. show code.

[2019-12-05 06:33] RIAEvangelist commented on #131
This should work just fine, however, let's recheck in v10.x when it is launched and see if you still have an issue. LMK if you still have any trouble. AFAIK this has been supported for a loooong time though.

[2019-12-05 06:36] RIAEvangelist opened #168 "switch from Istanbul to c8 for ES6 support"
Hey guys, I want to write some new tests and coverage. I could use some help from someone to update the module with a newer coverage tool.

Any help appreciated.

[2019-12-05 06:39] RIAEvangelist opened #169 "Simple Documentation Syntax updates"
It would help if someone could surround every ipc code term to have ticks around it like a JS template string.

If someone can do that and commit it to the v10.x branch, it will allow me to automate the localization of the docs with a markdown translation tool.

Would be a big help!

[2019-12-05 06:47] RIAEvangelist commented on #168
Istanbul now working.

[2019-12-05 07:06] RIAEvangelist commented on #168
While the tests can run and we do get partial coverage reports, the istanbul dependancy on esprima still breaks some of the coverage reports.

So this at least lets our build tests operate properly for CI and Appveyor.

[2019-12-05 07:47] SimplyLinn commented on #151
This was asked over a year ago, so don't actually recall as I got a day job and stopped with the project that used IPC for now. But IIRC, it was mostly that having a long single page with all the documentation, when you could use a tool like jsdoc to specify variable typings and similar, just to document the public API.

Then use another tool, [similar to the one discord.js](https://discord.js.org

[2019-12-05 13:10] hasezoey commented on #147
as in the original issue, yes:
serve (callback) -> listen to "msg" -> emit to "msg"

otherwise i didnt use this project since i opened this issue, so i cant help much

[2019-12-05 19:40] RIAEvangelist commented on #151
Yeah, sorry for that.

Yep, I am very familiar with JSDoc, I have used it on a few projects. While it is cool that it builds out the docs for us, I find it rather difficult for a noobie to read and understand that type of documentation.

Do you know of any doc generators which generate more human-readable/understandable format output?

I think you are right, breaking the docs up would be a good id

[2019-12-05 19:41] RIAEvangelist commented on #147
Thanks

[2019-12-05 19:54] SimplyLinn commented on #151
Since I've done some work on the Discord.js project, the ones I'm familiar with are their projects:
[discordjs/docgen](https://github.com/discordjs/docgen)
[discordjs/website](https://github.com/discordjs/website)

Both are open source and could probably with relative ease be made to work for this project as well?

In case you're interested I could help out with figuring out a travis/CI workflow t

[2019-12-05 20:44] RIAEvangelist commented on #160
It looks like I do have an unlink value on the config object. Perhaps this can be used as well.

[2019-12-06 02:26] mifi commented on #160
I think defaulting is not so nice, because sometimes people want to wait for all the sockets to be closed properly (could take a few minutes). `unlink` config is for deleting the socket if it already exists, right? Imo should have a new config option `unref` that will call [unref](https://nodejs.org/api/net.html#net_server_unref) on shutdown

[2019-12-06 23:58] RIAEvangelist commented on #163
@Slapbox I am thinking of doing a full rewrite utilizing the latest socket and server apis, but trying to follow the node-ipc v4 interface as closely as possible.

What do you think? There may be some breakage, but this is a major rev. It moves from everything below 10-12 to only 12 or above

[2019-12-07 00:23] Slapbox commented on #163
Personally I think we can use Node >=12 here without issue. Do you have some things you'd expect might break?

Nobody's ever excited to hear that things could break, but regardless of what's on that list, I think that the right answer is to do what you feel is going to be better long term. It sounds like you're thinking that would be the full rewrite?

[2019-12-07 00:34] RIAEvangelist commented on #163
I believe migrating to the newer socket implementation of node 12+ is the right move especially for future compliance with all apis.

My goal would be to keep the exposed apis as documented but there could be more archane implementations that use specific fields which were not documented... I suppose though if it does break, they can stick with v9 version in their package until they migrate.

I'll

[2019-12-07 00:57] Slapbox commented on #163
I say go for it. The odds that someone _needs_ to upgrade ASAP are pretty low. We might fit the bill, though I'm not 100% sure. In any event, our use case isn't terribly extensive and I'm sure we can make do.

I'm guessing a full re-write might take quite a bit longer than what you'd originally planned. Any thoughts on when about the potential new version might be released?

[2019-12-07 01:00] RIAEvangelist commented on #163
Well... I think the weekend, so probably by next weekend.

[2019-12-07 01:17] RIAEvangelist commented on #151
That might be super cool. I think the v10 is going to be a rewrite because of how far the underlying socket implementation has come.

When I get closer to release, I'll touch base again.

Thanks!

[2019-12-07 01:22] Slapbox commented on #163
Wow that'd be quick!

[2019-12-08 15:40] RacerDelux commented on #157
I can take a look at it, I was forced to use tcp sockets instead.

[2019-12-23 09:20] maksdam opened #172 "Broadcast from server?"
Description says it's there, but i can't get how to invoke it.
Broadcast() function could be found here: ./node-ipc/dao/socketServer.js
`Object.assign(this, {...})` is used inside Server constructor, so assigned fields aren't shown i guess
Problem is actual for a @types - can't find broadcast in Server interface as well

[2020-01-22 19:26] EdikDolynskyi commented on #163
Hi! I have been using node-ipc for a long time. Thanks for your work.

Now I face the issue with node-ipc not working with Node JS v12 and the need is urgent for me.
Could you tell me if you plan to update the module in the nearest future?

Can I help? Thanks in advance.

[2020-03-03 11:37] Rpoint opened #174 "Can't connect to server"
I've looked through multiple issues and seems like no one has my issue or simply i couldnt find it.

As i've been halfway through a project i noticed that i can't connect to a server over the network. I've been working locally using virtual machines to test it out and as long as the data arrives through the same pc it does receive and behave as it should.

So i put everything aside and check out w

[2020-03-09 13:25] #174 closed

[2020-03-31 06:58] edward-buskus commented on #147
I meet a problem with permissions when node-ipc server are started as windows service, then windows user applications cannot connect to this socket, until they are started as administrator, is there a way to avoid this issue ?

[2020-04-10 23:46] Suhail commented on #172
I was also looking for this and noticed this PR: https://github.com/RIAEvangelist/node-ipc/pull/99/files#diff-55c405e124e3d50c7ff67af11fdd032aR276

It used to exist but something happened. Is there a new way?

[2020-04-10 23:48] Suhail commented on #163
I am using node-ipc in Node 12.10 with Electron 8.x fwiw

[2020-04-11 00:01] Slapbox commented on #163
@suuhail thanks for updating the issue. I also got it working with Electron 7 & 8. Idk what's up with 6, or what was going on.

@RIAEvangelist I'm not sure what status this issue should be. I know you planned to make some related changes.

[2020-04-15 19:08] Suhail opened #175 "Bug with the destroyedSocketID and disconnecting"
It was always shows up false

[code]

Output:

[code]

[2020-04-16 13:02] jennymiaomjz opened #176 "There is no method to clear retry timeout."
setTimeout(
                function retryTimeout(){
                    client.retriesRemaining--;
                    client.connect();
                }.bind(null,client),
                client.config.retry
            );

[2020-04-28 04:34] rajatkb opened #177 "Cluster server example fails"
**Description** : The cluster server example given in the repository fails with the following error. I ran the same code as given in the sample.

[code]

Code for reference:

[code]

[2020-05-07 14:54] mrakgr opened #178 "How to connect to the IPC server from .NET land?"
[code]

[code]

This same exception happens to me if I try the wrong address.

What I am trying to do is to connect to that basic server from [the example](https://github.com/RIAEvangelist/node-ipc#basic-examples). I can connect to it using the JS client provided, but I want to do the same from a .NET program and am not sure what I am doing wrong.

[2020-05-07 15:11] mrakgr commented on #178
[code]

I tried literally every configuration enumeration possible and they all fail. It seems only the `AddressFamily.Unix,SocketType.Stream,ProtocolType.IP` is actually supported, though that one can't find the network. Is it possible that I need to put something else for path rather than `"/tmp/app.world"`? This is the path the server is using.

I forgot to mention it, but I am trying to do thi

[2020-05-07 15:33] mrakgr commented on #178
[code]

This actually works. I got the name of the pipe by inspecting the server in the debugger.

[2020-05-07 15:46] mrakgr commented on #178
[code]

Now I keep getting the `Messages are large, You may want to consider smaller messages.` error. Should I prefix the message with `message`?

[2020-05-07 15:48] mrakgr commented on #178
No, neither prefixing the message directly nor sending `message` and `Hello` one after the other works. What should I do here?

[2020-05-07 16:03] mrakgr commented on #178
I noticed that the client example is converting the data to JSON so I tried passing in `{"type":"message","data":"hello"}"`. That fails as well. As a side note...

[code]

In one of the if branches, I note that in `message=new Buffer(type,this.config.encoding);` the `data` is never used. That looks like a bug to me. Is that intentional?

[2020-05-07 16:49] mrakgr commented on #178
[code]

In the `socketServer.js` file, this gets triggered even though the data is perfectly fine. What happens is that the last element of `{"type":"message","data":"hello"}` is `}` and so `data.slice(-1)!=eventParser.delimiter` evaluates to true.

I am confused why it works for the JS client and not for the .NET one. Is the purpose of that if to check for nulls? Because it is telling me that the

[2020-05-11 10:48] mrakgr commented on #178
It might be that it is testing for `\r`.

[2020-05-30 12:10] gituser3000 commented on #172
hacky solution (ipc.server as any)['broadcast']('messageType', `message content`)

[2020-07-02 21:31] markmcdowell commented on #175
Not sure if it is intentionally not set but to fix this I just added:

[code]

[2020-09-02 14:29] fluffynuts opened #179 "Please publish an updated package?"
I've basically banged my head against the wall all afternoon, unable to figure out why my code doesn't work, and yours does (from checking out this repo @ master). Finally figured out it's probably to do with me using node 12 (I see issues around this) and if I update my package.json to reference this repo, things work as expected.

I honestly thought that, since I don't see a warning to the contr

[2020-09-02 14:36] fluffynuts commented on #179
nvm, I'm a plain old idiot; it would help if I caught that last line about `ipc.server.start()`

[2020-09-02 14:36] #179 closed

[2020-09-08 11:39] npomfret opened #181 "help understanding the UDP Multi-Client-Broadcast example"
I'm trying to broadcast over UDP to multiple clients running on the same machine.

I've run the example for doing a UDP broadcast (`Multi-Client-Broadcast.js`).  I was expecting the 2 clients to receive the broadcast message that gets sent by `world-server.js` after they have both connected.  I can see in the server logs that the message gets sent, but neither of the 2 clients appears to receive i

[2020-10-07 11:42] surendra-17 opened #182 "node-ipc electron connectTo error"
myapp1
myapp1 connect to
Error: connect ENOENT \\.\pipe\tmp-app.myapp1
    at PipeConnectWrap.afterConnect [as oncomplete] (net.js:1134:16) {
  errno: 'ENOENT',
  code: 'ENOENT',
  syscall: 'connect',
  address: '\\\\.\\pipe\\tmp-app.myapp1'
} error on connection
checking false
myapp1
myapp1 connect to
Error: connect ENOENT \\.\pipe\tmp-app.myapp1
    at PipeConnectWrap.afterConnect [as oncomplete

[2020-10-14 17:34] RIAEvangelist commented on #182
ENOENT means you either do not have permission to connect to the port, or it is not open for connection. It is possible that you have the wrong address as well. Test with the examples folder and LMK if you can't get those to work.

Closing unless you still have issues after you test the examples.

[2020-10-14 17:34] #182 closed

[2020-10-14 17:36] RIAEvangelist commented on #181
I'll have a look and see if its a misunderstanding or a poor example.

[2020-10-14 17:55] RIAEvangelist commented on #181
hmm... looks like everything in the example works great up to the broadcast.

I'm just getting back into stuff after a long break from everything with a crushed spine. I'm also a professional motorcycle racer and reviewer.

The server is on port 8000 so the clients are "listening" to it. We can tell the messaging works because both clients receive their  independent respective messages. Just not t

[2020-10-14 18:00] RIAEvangelist commented on #178
Apologies for the long delay, along side coding I am a professional electric motorcycle racer and reviewer and my spine was crushed in an accident. I am now healed up and trying to get back into things, I tried once before but I wasn't healed enough.

The \r delimiter is definitely your issue here. Thank you for posting all of the info for other .NETers to be able to communicate. The \r is configu

[2020-10-14 19:29] #178 closed

[2020-10-15 07:42] npomfret commented on #181
I think (maybe) I misunderstood how the example is supposed to work - or it just doesn't do what I needed.  Essentially I was looking for a solution that allows me to broadcast to multiple services running on the same host.  The following illustrates the solution I incorporated, the trick was to use `reuseAddr: true` on the socket:

[code]

[2020-10-15 20:52] RIAEvangelist commented on #181
Well that is fancy, I will have a look in the guts of the ipc thanks 👍

[2020-10-15 20:52] #181 closed

[2020-10-18 06:44] aminya commented on #163
Is there any chance that we get this working? Is there an alternative package?

[2020-10-19 12:39] bayramgeldi opened #183 "TCP Server is not working right on some devices"
TCP Server is not working right on some devices. I am using tcp socket to communicate between electron and .net applications. I am creating server on electron app. Here is my server:

`const ipc = require('node-ipc');
 const Store = require('electron-store');
 const store = new Store();

 const config = store.get('gastro-club');
 const BASE_URL = "https://gastroclub.com.tr/hm/api/";
 const CONTENT

[2020-11-11 23:17] RIAEvangelist commented on #163
This does seem to work with node v12

[2020-11-11 23:17] #163 closed

[2020-11-11 23:19] RIAEvangelist commented on #133
Switched to MIT

[2020-11-11 23:19] #133 closed

[2020-11-11 23:21] #151 closed

[2020-11-11 23:31] RIAEvangelist commented on #183
Are you using the correct delimiter?

[2020-11-11 23:31] #183 closed

[2020-11-11 23:32] RIAEvangelist commented on #176
I'm not sure I understand what you are looking for here.

[2020-11-11 23:32] #176 closed

[2020-11-12 00:03] Slapbox commented on #163
@aminya the issue seems to me to be with Electron 6 specifically.

[2020-11-12 08:35] bkhatkov opened #184 "Update js-message dependency"
Hello,

Could you please update js-message dependency to 1.0.7 (at the moment it is fixed to 1.0.6).
Current:
"dependencies": {
    "event-pubsub": "4.3.0",
    "js-message": "1.0.6",
    "js-queue": "2.0.2"
  },
To be:
"dependencies": {
    "event-pubsub": "4.3.0",
    "js-message": "^1.0.7",
    "js-queue": "2.0.2"
  },

[2020-11-12 16:45] RIAEvangelist commented on #184
ah 💩 ok.

[2020-11-12 16:55] RIAEvangelist commented on #184
updated docs and deps for [9.1.3](https://github.com/RIAEvangelist/node-ipc/releases/tag/9.1.3) published patch to npm as well. Thanks

[2020-11-12 16:55] #184 closed

[2020-11-12 18:28] #160 closed

[2020-11-26 17:17] mifi commented on #160
Is this implemented?

[2020-11-27 03:34] RIAEvangelist commented on #160
Can you not call unref on the socket for this?

[2020-11-27 03:34] RIAEvangelist commented on #160
If not it is something I would look into.

[2020-11-27 22:01] mifi commented on #160
If i remember correctly, we don't have access to the socket object

[2020-12-21 06:09] rajmonotype commented on #137
Facing same issue, @RIAEvangelist Can you tell us any update time for fixing this bug?

[2020-12-21 17:25] RIAEvangelist commented on #137
It looks like the buffer that was sent has much more than JSON in it as shown by the OP:

"ESC[32m'GET / HTTP/1.1\r\nHost: 39.108.85.220:8000\r\nUser-Agent: HTTP Banner Detection (https://security.ipip.net)\r\nConnection: close\r\n\r\n{"type":"message","data":{"url":"null","type":2,"fileName":"null"}}'ESC[39m }"

Is there any way someone could provide a code snippet that makes this happen so I can

[2020-12-21 17:28] RIAEvangelist commented on #137
If I can't duplicate the issue I can't work on it. Looking for help.

[2021-02-01 18:29] himanshusinghs opened #186 "Limit on maximum number of connected clients?"
Is there a limit on maximum number of clients that can be connected to ipc server?
For me, after first 99 connected clients I start receiving ERR_STREAM_DESTROYED error for the rest that are still trying to connect.
First had a thought that it might be due to how our project was developed but even isolated, it pose the same issue.

[2021-02-02 00:59] RIAEvangelist commented on #186
I'm not aware of this being a limitation. Perhaps there is a deeper setting in one of the sockets servers if this is the case.

Could make up a quick demo that just has a server in one file, and maybe a loop in a client file, or two, to demonstrate the basic issue. Nothing fancy, just demonstrate the issue in its most basic form.

This would show clearly that it is not related to your code.

Thank

[2021-02-24 21:45] tenbits opened #187 "bump event-pubsub to v5+ from 4.3.0 and use `.reset()` functionality"
Hi Team,

current version uses `event-pubsub@4.3.0` [package.json#L13](https://github.com/RIAEvangelist/node-ipc/blob/c82afb34b504e1ff9204c01d457ba645aa7935da/package.json#L13), there for `this.of[id].off('*','*');` in [IPC.js#L95](https://github.com/RIAEvangelist/node-ipc/blob/c82afb34b504e1ff9204c01d457ba645aa7935da/services/IPC.js#L95) does nothing, as such "unsubscribe all" was not implemented

[2021-02-25 01:07] RIAEvangelist commented on #187
Interesting, I will have a look.

[2021-02-25 01:20] RIAEvangelist commented on #187
can you provide a code sample to confirm this? I wonder if you are confusing the `*` event which is triggered on any event with the glob `*` which means all events. These are very different.

[code]

I see in `event-pubsub` v4.3.0/es6 that you linked, the following code which looks to behave exactly as described above.

[code]

    Is it possible you just misunderstood the goal of the line you men

[2021-02-25 01:24] RIAEvangelist commented on #187
I checked the v5.0 code refrence, and it looks like it does the same thing to me.  If you can provide a code sample showing what you are expecting I would consider further.

Thank you for your help!

[2021-02-25 01:29] RIAEvangelist commented on #187
I took a little deeper look into what I think you are expecting which 5.0 `event-pubsub` does have as the `.reset()` method, which is not related to the line you linked as the `.#all` event type is a special event type to be ***triggered*** for all events.

I do not think that line in the IPC code is doing what you expect.

[2021-02-25 01:41] RIAEvangelist commented on #187
I reviewed the IPC code as well, and I am not sure that the line you referenced in IPC is even valuable because the remainder of the code just removes the whole thing:

[code]

Is there any other reason to update to the new version of `event-pubsub`?

[2021-02-25 01:45] RIAEvangelist opened #188 "add id to socket not just the socket container IPC.js#L328"
[IPC.js#L328](https://github.com/RIAEvangelist/node-ipc/blob/c82afb34b504e1ff9204c01d457ba645aa7935da/services/IPC.js#L328)

should also put the id on the socket, not just the `of[id].id` but also the `of[id].socket.id` if it exists at this point.

[2021-02-25 01:48] RIAEvangelist commented on #168
Likely going to go with `c8` and may redo tests, or change CI as travis does not support udp6 for linux

[2021-02-25 01:57] RIAEvangelist commented on #159
just looked sat the code and there is actually a `start` event which passes the ipc socket as the only param.

[2021-02-25 01:57] #159 closed

[2021-02-25 02:07] RIAEvangelist commented on #175
#188 will likely solve all of these sorts of issues.

[2021-02-25 02:07] #175 closed

[2021-02-25 02:08] RIAEvangelist commented on #140
#188 will address this issue

[2021-02-25 02:08] #140 closed

[2021-02-25 02:10] RIAEvangelist commented on #186
Would love an isolated code snippit to help isolate this. even just a for loop with code to demonstrate the issue would be great

[2021-02-25 02:13] RIAEvangelist commented on #172
what is this hacky solution? `(ipc.server as any)['broadcast']('messageType', 'message content')` what is it solving and how can this be merged back into the main code better?

Code samples appreciated.

[2021-02-25 02:14] RIAEvangelist commented on #172
Isn't this just the same as `ipc.server.broadcast`? I must be missing something.

[2021-02-25 09:39] tenbits commented on #187
Hi Brandon, thanks a lot in getting into this, yes I meant that

[code]

Actually I stumbled across this in another quit tricky case:

1. Connect as a client to unix/win socket server (_in another process_)
2. In `disconnect` event (_when another process exits_), close the client with `ipc.disconnect(id)`
3. Create new unix/win socket server with `ipc.serve`, so that the process acts now not as a

[2021-02-25 09:49] RIAEvangelist commented on #187
Before I close the issue I want to make sure that the issue you had was legitimate and not a different problem that should be addressed. Also, I am not against updating the `event-pubsub` I just want to make sure I understand the reason, even if that is just because it is newer. I just like to understand first.

Are you sure you had the `id` when you called `ipc.disconnect(id)` and that it matched

[2021-02-25 10:17] tenbits commented on #187
Right, the `id` is correct and the `ipc.of[id]` is present. `ipc.disconnect(id)` indeed destroys the socket and deletes `ipc.of[id]`. But let me go through the steps:

1. When remote host exits and the connection is closed, but retries are **active** the code goes to [client.publish('disconnect')](https://github.com/RIAEvangelist/node-ipc/blob/c82afb34b504e1ff9204c01d457ba645aa7935da/dao/client.js

[2021-02-25 11:01] RIAEvangelist commented on #187
OK, would it be possible for you to either fork the repo and update it to the newer `event-pubsub`, and edit that line to use the `this.of[id].reset()` which should clear all events for `event-pubsub` v5+

OR, just forcibly install it on your own and hack the `.reset` in and confirm it fixes your issue?

If you can confirm it fixes the issue, that will be enough for me to do a new release with the

[2021-02-25 11:02] RIAEvangelist commented on #187
Also, if you do a pr for it, you will get credit for being a contributor if you care.

[2021-02-26 10:37] tenbits commented on #187
Hi Brandon, I have created for now another pr, that was more critical, which leads to socket connection leaks. I tried also to update the `event-pubsub` module, but `istanbul` test fails, as `event-pubsub` is a es6 module with imports, and instrumenting for some reason doesn't work with the error:

[code]

[2021-02-26 16:48] RIAEvangelist commented on #187
@tenbits I'll update your pr with [`c8`](https://github.com/bcoe/c8) way better than anything else on the market

[2021-02-26 17:01] RIAEvangelist commented on #187
ah crap. I want to replace jasmine with [`vanilla-test`](https://www.npmjs.com/package/vanilla-test) too if we're going to upgrade the `event-pubsub` and use `c8` instead of istanbul.

[2021-03-11 09:34] msyfls123 opened #191 "Request to update `event-pubsub`."
https://github.com/RIAEvangelist/node-ipc/blob/50c0ec6735497c4dbeb2bfe7290b837dc1bf3aeb/package.json#L13

Please update `event-pubsub`, since 4.3.0 will not handle `*` correctly.

https://github.com/RIAEvangelist/event-pubsub/blob/v4.3.0/es5.js#L90-L105
`args` is possibly `undefined` and `type` is not applied to handler.

[2021-04-06 12:31] #172 closed

[2021-04-11 01:14] markrmessmore opened #193 "Connection exceeding amount with amounts remaining."
So I added an event and with said event am getting the following issue. I didn't immediately notice any previously reported issue so if I'm missing something please point it out.

I have a client and server communicating back and forth nicely. Here is the code in question:

CLIENT:
[code]

SERVER
[code]

Here is the error I am receiving on the client end:
[code]

In short, the commands outside of

[2021-04-12 06:35] RIAEvangelist commented on #193
Try logging out something each time it disconnects. Perhaps something you are not expecting is happening.

[2021-04-14 17:15] markrmessmore commented on #193
I'm not entirely sure what I did to resolve this...however the situation involved multiple simultaneous calls from Express. I rewrote the Express calls and have removed any disconnects for simplicity.

[2021-04-14 17:45] RIAEvangelist commented on #193
Ok, It seemed to me like it was possible the connections were being dropped
and reconnected, perhaps in an unexpected flow.

The sort of things you were talking about with express can often times give
a seamless feel despite frequent connect and disconnects. The seamless feel
sometimes confuses what's happening behind the scenes.

I'm glad you were able to resolve the issue!

On Wed, Apr 14, 2021,

[2021-04-14 17:47] #193 closed

[2021-05-01 19:53] matibat commented on #191
+1

In my case, my app crashes when the 'close' event is emmited

[2021-05-03 21:52] RIAEvangelist commented on #191
+1 understood, but your app crashing is possibly not solely related to this
request.

On Sat, May 1, 2021 at 12:54 PM Matías Batista ***@***.***>
wrote:

[2021-05-03 22:25] matibat commented on #191
@RIAEvangelist my app crashes when I set the '*' handler. When a client disconnects, the event is emitted like so:
`emit$('close', false)`. It crashes because `args = false` and not `args = [ false ]` when later setting the `.shift()` function to it. `args` is supposed to be an array.

The emit function is defined like so:
`function emit$(type, args){`

But it should use argument unpacking, it mus

[2021-05-03 22:36] RIAEvangelist commented on #191
interesting.

On Mon, May 3, 2021 at 3:25 PM Matías Batista ***@***.***>
wrote:

[2021-05-13 21:00] RichardFoss opened #194 "Receiving message via a named pipe"
Thank you for this package!
I would like to receive data from a JUCE C++ program via a named pipe.
I have attempted to do this by using the 'rawBuffer' approach. I have followed the code in the 'Advanced Examples':
ipc.config.rawBuffer=true;
ipc.server.on( 'data',
I'm not getting a response on the server side.
Is this the correct approach?
Thanks for the help!

[2021-05-14 00:14] RIAEvangelist commented on #194
If you want to transfer rawbuffer data, this would be one way to do it.

I would suggest you start my creating the pipe and just trying to connect to it.

[2021-05-14 09:16] RichardFoss commented on #194
Thanks for your reply, and apologies for the slow response - in South African time!
I would prefer to transmit json data. Here is a short section of code, in which I'm trying to pick up a connection and also receive the simple json that you provide -
"{type:'myEvent',data:{a:1}}"

const ipc = require('node-ipc');

ipc.config.id = "testIPC";
ipc.config.retry= 1500;

ipc.serve("\\\\.\\pipe\\testIPC"

[2021-05-14 09:19] RichardFoss commented on #194
Sorry, that code didn't come out right:

const ipc = require('node-ipc');

ipc.config.id = "testIPC";
ipc.config.retry= 1500;

ipc.serve("\\\\.\\pipe\\testIPC",
    function(){
        ipc.server.on(
            'connect',
            function(socket){
                ipc.log("Connected");
            }
        );

        ipc.server.on(
            'myEvent',
            function(data,socket){

[2021-05-14 18:26] RIAEvangelist commented on #194
I suggest you use unix style pathing, this will be simpler for you and work on windows too. Also, don't use relative paths. I appreciate you want to just get started sending json, but before I help you with that, I would like to know that you are or are not able to connect to the socket.

https://github.com/RIAEvangelist/node-ipc#types-of-ipc-sockets

Please start by debugging your ability to conn

[2021-05-14 18:28] RIAEvangelist commented on #194
This link might give you a better example of unix style pathing.

https://github.com/RIAEvangelist/node-ipc#serve

[2021-05-14 20:36] RichardFoss commented on #194
Thank you very much for your continued help!
I'm unclear about what to provide as a path name. I read the following from Microsoft documentation:
[code]
Hence my use of:
` "\\\\.\\pipe\\testIPC"`

On the JUCE C++ side I had:
`juce::String testIPC = "\\.\pipe\testIPC";` followed by:
`currentPipe->connectToPipe(testIPC, 1000);`

I don't get the connect message showing. I seem to be missing something

[2021-05-14 20:58] RIAEvangelist commented on #194
Did you try my last suggestion or the examples I linked to?

The best thing to do would be to use the examples and confirm a connection can be made. I know you want to do things the way you describe, but I think it would be best to try the feedback I provided.

Testing the basics as they are given without making changes would be an ideal test.

[2021-05-14 21:08] RIAEvangelist commented on #194
Again just to reiterate, I think it's the way you are doing the path.  I modified the example I linked above :

https://github.com/RIAEvangelist/node-ipc#serve

try connecting to `/tmp/myapp.myservice`

your OS should be able to handle the conversion of the `/` automatically.

[code]

[2021-05-15 11:33] RichardFoss commented on #194
Thanks for making time to follow up on this issue, and to provide test code, much appreciated!
Unfortunately, I am not able to make a connection from the JUCE C++ client side. I don't get the console log message displayed. I do think that its on the client side where my problem lies. I have the following code:
[code]
and it displays 'Not Connected to pipe'.
So I think that I am going to have to go

[2021-05-15 13:57] RIAEvangelist commented on #194
In C++ try flipping the ` / `

On Sat, May 15, 2021, 4:33 AM RichardFoss ***@***.***> wrote:

[2021-05-15 14:53] RichardFoss commented on #194
Thanks for the suggestion - unfortunately still no connection. I have tried every permutation of forward and back slash(es).
I have laid out my problem on the JUCE forum, and have had many views, but no suggestions.
So I think its back to sockets!

[2021-05-15 15:32] RIAEvangelist commented on #194
Have you tried connecting in just plain C++ instead of just the juice
framework?

These are posix/unix sockets

On Sat, May 15, 2021, 7:53 AM RichardFoss ***@***.***> wrote:

[2021-05-15 15:32] RIAEvangelist commented on #194
Even just trying just two node instances... To make sure the server is
spinning up as expected.

On Sat, May 15, 2021, 8:31 AM Brandon Nozaki Miller ***@***.***>
wrote:

[2021-05-16 14:01] RichardFoss commented on #194
Thank you very much for further suggestions, and apologies for my slow response.
For the project I'm working on, I have to have interaction between a JUCE program and a nodejs program. I do need to move on to coding the application, so I'm going to go with the socket approach that I have working, and as a background task will keep trying the named pipe approach. I will let you know how it goes.
Th

[2021-05-16 20:56] #194 closed

[2021-06-17 12:30] mount2010 opened #196 "Make log lines clearer"
I was debugging an issue in an app using node-ipc and encountered the log message "retrying reset". The wording of the log message made me think that there was an issue connecting to the IPC server, when in reality, it meant that the number of retries that node-ipc would attempt was reset. Could this be made clearer to save the time of developers? Thanks.

[2021-06-23 07:47] SupremeTechnopriest opened #197 "RawBuffer concatenating messages?"
Hello,

I have a few questions about the `rawBuffer` messages.  It seems like the `data` event is not emitted every time a message is emitted from the server.  For instance, if I send multiple small messages in a loop, the first one arrives in tact, but then the subsequent message is not the buffer I sent.  The byteLength is much larger and the message count is fewer than what I send, which leads

[2021-06-23 13:35] LynMoe opened #198 "[Question] Communication between clients"
Hello, thanks for your great library first. I’m working on a project which use cluster and the workers need to access each other. What I’m doing now is create a unix socket from the master and connect that socket from the workers.
However I find that event can only be emitted by one side(master/worker) and received by another side which is kind of annoying.
I think it’s like broadcast but not exac

[2021-06-24 15:41] zsjinwei commented on #197
I am newer to use this library, and met the same issue. some solution?

[2021-06-26 09:56] si458 opened #199 "client cant connect to server if server running as service"
Hi,

if i start the server side code as the `localsystem` user as a windows service,
and run the client as a standard logged in user,

the client never connects to the server?

im starting the server using [winsw](https://github.com/winsw/winsw)
then running the client with `node client.js`

i have just simply copied and pasted from the windowsunix example

[2021-06-26 20:01] SupremeTechnopriest commented on #198
I solved this by mesh connecting all the nodes. Basically on your main you keep a map of all the sockets that are connected to main.  Each client node is also a server with its own unique unix socket path.  Then a client comes up, connects to main and then main tells that client to connect to all the currently connected nodes, effectively becoming a client to each connected node.

[2021-06-26 20:03] SupremeTechnopriest commented on #197
I haven't found a solution yet, but I'm going to try to figure it out today.  Something tells me this is a bug or possibly an undocumented feature... but I would expect an `emit` to correspond to an `on` 1:1.  Ill report back if I can figure it out.

[2021-06-27 05:08] LynMoe commented on #198
It seems massive and kind of complex but actually I solved the problem by building a mesh network  either, lol.
The issue could be closed now I think.

[2021-06-27 05:08] #198 closed

[2021-06-28 19:25] SupremeTechnopriest commented on #197
if @RIAEvangelist could point me in the right direction it would save me many hours of pain reverse engineering :)

[2021-06-29 01:34] RIAEvangelist commented on #197
I'll be online tomorrow to help.

[2021-06-29 01:38] SupremeTechnopriest commented on #197
Awesome! Looking forward to it!

[2021-06-29 09:33] RIAEvangelist commented on #198
Apologies I was in the hospital for a couple of days, nothing serious.

It looks like y'all (most PC way I could think of to say "yous guys")
worked it out together which is the beauty of open source!

Thanks for making my day a little brighter.

On Sat, Jun 26, 2021 at 10:08 PM Lyn Chen ***@***.***> wrote:

[2021-06-29 18:40] SupremeTechnopriest commented on #198
Glad you are okay! Just trying to help out where I can :)

[2021-06-29 20:32] SupremeTechnopriest commented on #197
@RIAEvangelist Glad you are back!  Do you have anything I can go on to try and solve this?  Im currently blocked from finishing my project because I cant figure out how to parse these buffer messages.  Before I turned all my messages to buffers all the event emission and event reception were 1:1, now it seems like something is happening under the hood based on message rate or emission timing.

[2021-06-30 00:13] RIAEvangelist commented on #197
@SupremeTechnopriest

Can you provide a sample snippit that shows the issue?

Just wrote a basic example of what you are doing that shows it not working. Messages can even be hard coded if you want.

[2021-06-30 00:14] SupremeTechnopriest commented on #197
Sure coming right up.

[2021-06-30 00:27] SupremeTechnopriest commented on #197
So here is my message creator:

[code]

Then on the main world (server) we can simulate a bunch of import events:

[code]

This is pretty much the gist of it.  Sending many messages in a loop, the first one arrives perfectly, but subsequent ones look like they are being concatenated.  The parsed size from the message is much larger than 91 bytes.  I ended up doing a little extra preprocessing on t

[2021-06-30 01:04] SupremeTechnopriest commented on #197
So im working on a sample for you.  Its not complete yet, but here you can see some issues.

https://stackblitz.com/edit/node-ipc-example?devtoolsheight=33&file=server.js

If you run: `node server.js` in one terminal and `node  client.js` in another, you will see the server attempting to send 100 messages but the client only receiving 10.  Im going to try to get a more complete example of my use c

[2021-06-30 05:04] RIAEvangelist commented on #197
thanks.

one reason I'm not a fan of typescript is that the code has to be
transpiled, which changes how things are written. I know its an important
tool for people, but I use the `strong-type` module instead. This gives me
strong typing without transpiling my code. I like my code to run as I wrote
it. Makes it a lot easier to debug.

On Tue, Jun 29, 2021 at 6:04 PM Randy Lebeau ***@***.***>
wrote

[2021-06-30 05:15] RIAEvangelist commented on #197
I updated your server dispatch with a delay just to see what would happen, and it works now. So the buffer portion seems like it may need an update in the module. I think it should be saved if you check it out.

[code]

[2021-06-30 05:16] RIAEvangelist commented on #197
I think I have a way to send the messages as volatile or non volatile as well. so the pipe doesn't have collisions.

[2021-06-30 05:24] RIAEvangelist commented on #197
Yeah, you could use [`js-queue`](https://github.com/RIAEvangelist/js-queue) or [`easy-stack`](https://github.com/RIAEvangelist/easy-stack) to handle your volatility issue. Queue is FIFO and the Stack is LIFO.

[2021-06-30 06:09] SupremeTechnopriest commented on #197
So in the actual implementation I am filling and draining a queue. Is the emit method sync or async?  I think the message rate will get pretty high as the project I'm working on is a networking engine for games.

Is this something you can patch inside of `node-ipc` or will I have to introduce some kind of synthetic latency to the message queue?  Adding latency isn't really ideal since this will be

[2021-06-30 08:45] SupremeTechnopriest commented on #197
It might have saved as a fork, the original doesn't have your additions.  I'm working on a more complete example that has all the abstractions and queues.  Maybe we can take a look at that together and figure out the best way to solve this.

[2021-06-30 13:29] si458 commented on #199
i believe i have found my issue
then the ipc runs the listen command its using the default `false` for `readableAll` and `writeableAll`
https://nodejs.org/docs/v14.17.1/api/net.html#net_server_listen_options_callback
these need to be set as `true` for the pipes to be access by other users
like running the server as admin/service and the client as a general user

https://github.com/RIAEvangelist/no

[2021-06-30 13:50] RIAEvangelist commented on #197
please use the `js-queue` module to send your messages synchronously.

On Wed, Jun 30, 2021 at 1:45 AM Randy Lebeau ***@***.***>
wrote:

[2021-06-30 13:52] RIAEvangelist commented on #198
use UDP. This will allow many to many client to client.

On Tue, Jun 29, 2021 at 11:41 AM Randy Lebeau ***@***.***>
wrote:

[2021-06-30 16:38] NateTheGreatt commented on #197
hey @RIAEvangelist, thanks for taking the time to help us out. i tried using `js-queue` but unfortunately the problem persists.

this may be a bug with node itself, see this issue here:
https://github.com/nodejs/help/issues/521

[2021-06-30 17:06] RIAEvangelist commented on #197
@SupremeTechnopriest you were correct it made a clone for me. Here is the [link](https://stackblitz.com/edit/node-ipc-example-jf6cyc)

@NateTheGreatt Since this is a bug in node, We will need to use a slight work around until the issue is fixed. Add this into your loop to slow it down. I tested and it works. You can run my version of @SupremeTechnopriest's code above to confirm.

[code]

I know it

[2021-06-30 21:43] SupremeTechnopriest commented on #197
Doesn't look like this is unix socket related.  I switched all the code to use TCP and its the same problem. Its definitely buffer related.  Using objects everything works fine. Sending two buffer encoded messages consecutively only the first arrives unless synthetical latency is introduced.

[2021-07-01 03:56] RIAEvangelist commented on #197
Interesting. I'll create another branch to test a fix with you.

On Wed, Jun 30, 2021, 2:43 PM Randy Lebeau ***@***.***> wrote:

[2021-07-01 16:47] SupremeTechnopriest commented on #197
I actually am not convinced the issue is related to your module.  We implemented a really simple use case using the `net` package only and the issue persists.  Pretty sure it's a node bug.  UTF-8 encoded string packets: no loss, binary encoded buffer packets: unpredictable loss.

Perhaps we can work together to get the issue solved in node, it seems to happen in v14-v16.  I cant imagine how no one

[2021-07-01 21:23] RIAEvangelist commented on #197
Yeah, rapid buffer transfers are not so common.

You might try converting the buffers to UTF8 and transmitting them that way.

[2021-07-01 21:24] RIAEvangelist commented on #197
Or even base64

[2021-07-01 21:33] SupremeTechnopriest commented on #197
we tried every encoding... unfortunately they all have the same results.

[2021-07-01 21:39] RIAEvangelist commented on #197
did you try setting `.rawbuffer` to false first? Then sending the utf8 or base64 data?

[2021-07-01 22:58] si458 commented on #199
You could have this option configurable maybe via a variable? That allows the developer to decide if all users or the same user should be used for security reasons

[2021-07-01 23:00] SupremeTechnopriest commented on #197
Sending strings works fine, but we have to send ArrayBuffers as well, so rather then create multiple channels I decided to just make all messages buffers.

The ArrayBuffers are serialized game data and cant really be represented as strings.  Wouldn't want to if we could, would be much too large.

[2021-07-01 23:01] #199 closed

[2021-07-01 23:16] RIAEvangelist commented on #196
Please fork the repo and make an update then do a PR. So long as the change is not confusing, it will be merged.

[2021-07-01 23:17] RIAEvangelist commented on #191
duplicate #187

Will happen soon

[2021-07-01 23:17] #191 closed

[2021-07-01 23:17] RIAEvangelist commented on #187
This is on the way

[2021-07-01 23:26] RIAEvangelist commented on #197
Also... you might try
`ipc.config.sync = true;`

here is an example, there is also a client example. not sure if it will help, but it very well might. this is a link to the basic TCP sync server example.

https://github.com/RIAEvangelist/node-ipc/blob/master/example/TCPSocket/basicSync/world-server.js

[2021-07-01 23:30] #188 closed

[2021-07-01 23:33] #141 closed

[2021-07-01 23:37] RIAEvangelist commented on #186
stale

[2021-07-01 23:37] #186 closed

[2021-07-01 23:42] RIAEvangelist commented on #177
There are separate examples for Windows and Unix-based systems. It appears you were trying to run the Unix example on a windows machine. I just duplicated this myself to confirm. Try running the windows example on the windows machine.

[2021-07-01 23:42] #177 closed

[2021-07-01 23:50] SupremeTechnopriest commented on #197
I will give that a go this evening.  What is the difference when you set sync to true?  Is it going to slow things down?

[2021-07-01 23:59] RIAEvangelist commented on #197
It should make the messages non-volitile or synchronous. I wrote a bunch of examples in the example folders like `basicSync` The sync should also be documented in the readme. I wrote it so long ago I would need to look at the docs myself.

[2021-07-02 00:02] RIAEvangelist commented on #197
I just looked, it is like ack/nack. Set it on the client and it will not send a message until it receives something from the server. Any message will work.

|||
|sync | synchronous requests. Clients will not send new requests until the server answers.|

[2021-07-02 00:05] SupremeTechnopriest commented on #197
Hmm okay, sounds like it would fix it but its going to add latency.  Maybe I can use it as a workaround to get unblocked, but we should file an issue with node.js as the buffer packet loss is present in the `net` package.

Since we are using this for gaming applications, latency is our main enemy.  We need to avoid adding latency where every possible.

[2021-07-02 00:28] RIAEvangelist commented on #197
@SupremeTechnopriest is this different than the one @NateTheGreatt linked us to above?

[2021-07-02 00:29] RIAEvangelist commented on #197
Also, you could always switch to node v12 if this is a critical issue for you.

[2021-07-02 00:33] RIAEvangelist commented on #197
I'm going to close this one for now as this is confirmed a bug in node core.

[2021-07-02 01:10] SupremeTechnopriest commented on #197
Same project. We will try a few things and let you know where we land.

[2021-07-02 02:36] RIAEvangelist commented on #197
OK. Also, under the discussions tab of this project, I just announced that `v10` will be `ESM`. So if you want to keep using `commonjs`, you will need to explicitly have v9.5.0 or earlier in your `package.json`

[2021-07-02 02:37] SupremeTechnopriest commented on #197
ESM would be great!  Looking forward to it.

[2021-07-02 02:46] RIAEvangelist commented on #197
Great almost about to start rewriting code. I kept everything the same from a functional and layout perspective to reduce upgrayedd shock.

![](https://media1.tenor.com/images/4601bf352e41795f067486524daf1958/tenor.gif?itemid=4134185)

[2021-07-02 02:47] SupremeTechnopriest commented on #197
Sounds good!  Let me know when its ready and I can test it out for you.

[2021-07-02 20:12] si458 commented on #199
@RIAEvangelist i believe #205 should allow developer to specify it themselves with defaults of false for security 👍

[2021-07-02 22:00] RIAEvangelist commented on #187
Current on master.

Once testing is complete this will be in v10.x on npm

[2021-07-02 22:00] #187 closed

[2021-07-03 00:35] RIAEvangelist commented on #168
switched over, just writing tests now.

[2021-07-03 00:36] #168 closed

[2021-07-03 02:48] SupremeTechnopriest commented on #197
Doesn't look like sync did it https://stackblitz.com/edit/node-ipc-example?file=client.js

[2021-07-04 01:27] RIAEvangelist commented on #197
@SupremeTechnopriest  I think I may see an issue, you are using the data event. This is triggered with each chunk of data received, Let me adjust your examples. I'll let you know when I'm done here. I reopened because we are still actively working on it together.

[2021-07-04 02:01] RIAEvangelist commented on #197
Here is one example, let me know if this helps. I didn't use `rawBuffer=true`, but none the less I did transmit a raw buffer as the payload.

https://stackblitz.com/edit/node-ipc-example-5itt8h?file=server.js

![Capture](https://user-images.githubusercontent.com/369041/124370907-088e8c00-dc31-11eb-81cb-6d215631afd3.PNG)

[2021-07-04 02:02] RIAEvangelist commented on #197
Now that example is using `sync` so it adds some latency. I am going to update it to not use sync next and see if that works as well.

[2021-07-04 02:05] RIAEvangelist commented on #197
![Oh YEAH](https://media1.tenor.com/images/f94628863c2a4f8122d2ec138a7281d4/tenor.gif?itemid=8291586)

Lightning fast

https://stackblitz.com/edit/node-ipc-example-5itt8h?file=client.js

![Capture](https://user-images.githubusercontent.com/369041/124370942-75098b00-dc31-11eb-9d6d-8ed38c3919ff.PNG)

[2021-07-04 02:06] RIAEvangelist commented on #197
Close the issue if this meets your needs plz

[2021-07-04 03:56] SupremeTechnopriest commented on #197
This looks good! Thanks for working this out.  Gonna try it in my project and I will reopen if I find any more issues!

[2021-07-04 03:56] #197 closed

[2021-07-04 16:16] RIAEvangelist opened #207 "Some TCP tests failing on ubuntu"

[2021-07-04 16:19] RIAEvangelist commented on #207
Looks like it may be something to do with pathing

[2021-07-04 16:20] RIAEvangelist commented on #207
the issue seems to be git ignoring capitalization changes in file names

[2021-07-04 16:25] RIAEvangelist commented on #207
fixed test UDP file name capitolization

[2021-07-04 16:25] #207 closed

[2021-07-06 18:29] mckravchyk opened #208 "CommonJS support (for Electron)"
I want to use node-ipc in an Electron app, and as far as I know, [Electron does not support ESM at all](https://github.com/electron/electron/issues/21457).

Is there a way to use this module via `require`? If not, would you consider supporting CommonJS alongside ESM?

[2021-07-06 18:39] mckravchyk commented on #208
I see that ESM was added very recently and the v9.x.x will support CommonJS.

[2021-07-06 18:39] #208 closed

[2021-07-06 19:39] si458 opened #209 "10.0.1 no longer usable in standard node 14"
after installing the newest version 10.0.1 its now unusable with nodejs

[code]

[2021-07-06 19:47] si458 commented on #209
its ok i worked it out, totally missed the notes in the releases page haha
(could you maybe add some info into the readme about this?)
in my `package.json` i set a version less than 10.0.0 `"node-ipc": "<10.0.0"`

[2021-07-06 19:47] #209 closed

[2021-07-07 19:49] RIAEvangelist commented on #209
Sure, thats a cool idea. Thanks once again!

[2021-07-07 19:50] RIAEvangelist commented on #209
Glad you caught this because i have other issues in the docs lol!

[2021-07-07 20:00] RIAEvangelist commented on #209
ahhh crap I need to fix the examples too !!!

THANK YOU SO MUCH!

[2021-07-07 20:03] si458 commented on #209
@RIAEvangelist no worries! brilliant module! always happy to help!
it was just what i needed for my node app running as a windows service to talk to my normal node app the user is running to take a screenshot haha!

[2021-07-07 20:09] RIAEvangelist commented on #209
Whew, it was just the cluster example that I hadn't updated.

Glad you found use for it. If you do any front end work, keep an eye on my `noaki` and `nozaki-components` repos. I hope they help to promote vanilla web components.

[2021-07-09 02:50] RIAEvangelist commented on #208
As far as I am awaer electron is ESM only from v5 on and the current rev is 13.x thanks for closing and updating though.

[2021-07-14 19:01] phuonghuynh opened #211 "Connect to node-ipc in Golang"
I was using this great IPC Library for my nodejs server and now I would like to create a Golang Client connect to this server. Is there any suggestion on implement Golang client connect to "node-ipc" service?

Thanks

[2021-07-15 07:46] NN-Binary opened #212 "Maybe some messages dropped in my code"
Hi,

I'm not sure the issue as I've tried on 3 different machines and the reliability of this module with IPC is very bad.
I've made a very basic test (2 files, client.js and server.js)

### CLIENT SIDE (client.js)
[code]

### SERVER SIDE (server.js)

[code]
If you run the test here, you'll see that you basically never receive 100 messages, probably 80, sometimes even 30/100 only.

Is there any wa

[2021-07-15 08:02] RuralDependencies commented on #212
**It appears that this NPM does not offer any reliability with Buffers.**
After trying your code and setting rawBuffer to false, it works.

Indeed this is a serious issue.

[2021-07-15 17:38] RIAEvangelist commented on #212
I am not here to debug your code for you, I am sorry, you will need to make a simple example I can help you with. The simpler the code, the easier to find the issue in your code that is causing this. The cause could be in IPC or it could be in your code. We can not say until we identify the issue.

Please make a simple example and confirm that it is unreliable. Then make the example more complicat

[2021-07-15 17:40] RIAEvangelist commented on #211
yes, just open a socket in golang and parse the incoming information with a delimiter of `\f` or `\d` whatever you use as a deliminator in your `node-ipc` code config

[2021-07-15 17:40] #211 closed

[2021-07-15 22:49] RIAEvangelist commented on #212
Is it set to raw buffer by default?

On Thu, Jul 15, 2021 at 1:02 AM Nicolas ***@***.***> wrote:

[2021-07-15 22:49] RIAEvangelist commented on #212
If not, please help me figure out what note I need to make in the docs for
people

On Thu, Jul 15, 2021 at 3:48 PM Brandon Nozaki Miller ***@***.***>
wrote:

[2021-07-16 00:35] NN-Binary commented on #212
The problem is on node-ipc not supporting the computing of chunks when rawBuffer is true.
If you send 1,000 messages, they'll all arrive as 5 messages (all stacked together)

[2021-07-16 16:32] RIAEvangelist commented on #212
This is a duplicate of #197

Where it is made clear this is an issue in node. via [nodejs/help#521](https://github.com/nodejs/help/issues/521)

Your messages being certain it is the fault of my code without offering any help to fix the issue, is not in the opensource spirit. I hope that as time goes on and your skills improve, you will begin to write issues that contain help more than just pointin

[2021-07-16 16:32] #212 closed

[2021-07-17 07:38] mckravchyk opened #213 "Destroy Unix/Windows socket server from another process"
Is there a way to destroy a Unix/Windows socket by name if it exists before starting the server?

I'm running into a problem with "unwanted caching" in my app where the client connects to an older instance of the server from previous run rather than the new (because the socket name is the same and the old "rogue" server process is still running).

I understand this is an issue with my app because

[2021-07-17 10:45] mckravchyk commented on #213
I can detect and kill any rogue leftover processes when the app initializes and this is the most universal solution for this case.

The exact solution is to create a lock file for the process that is hosting the IPC server, the lockfile contains the process pid. Then when the app starts, it checks if the lockfile is present, gets the pid, gets the name of the process running that pid and if it exi

[2021-07-17 10:45] #213 closed

[2021-07-20 08:33] Abdulrahman-Khalid opened #214 "Using node-ipc with react results an additional loader problem"
I am trying to use node-ipc with react because I want to connect to unix socket

I tried the following piece of code

[code]

But I am getting this error while compilation

[code]

[2021-07-29 00:16] RIAEvangelist commented on #214
The module is a vanilla ESM. You may need an ES6 ESM.

Also, just to make sure, you are doing this on the server-side right? Never hurts to ask.

[2021-08-02 10:16] NN-Binary opened #216 "IPC Unix Socket Multi Server"
Hello,

How can I open multiple servers (socket) at the same time?

[code]

It works well with 1 server but with multiple servers all messages get lost, my first hint is simply because everything is in ipc.server.

How can I do? I want 20 IPC servers (different paths running) and unlimited amount of clients for each.
Thanks for the help

[2021-08-03 00:49] #216 closed

[2021-08-03 01:43] RIAEvangelist commented on #216
Looks like you figured it out?

[2021-08-03 01:46] RIAEvangelist commented on #214
Any updates on this? Were you able to get what you expected working?

[2021-09-02 09:21] RoelVB commented on #214
I had the same issue, not doing anything special, just trying to bundle using Webpack.
Solved it for now by going back to node-ipc 9.x. This works without any issues.

[2021-09-02 12:08] RIAEvangelist commented on #214
That's super weird. You might try not transpiling, just bundling.

On Thu, Sep 2, 2021, 5:21 AM Roel ***@***.***> wrote:

[2021-09-03 21:15] wips commented on #214
Having the same issue with v10, downgrading to v9 helped. I use node-ipc with typescript and among few dozen packages this was the only issue. Just in case here's my TS config:
[code]

[2021-09-04 03:38] LOLBRUHNICE opened #217 "Cannot use import statement outside a module"
When i try to run my application that use node-ipc, i get an error:
Cannot use import statement outside a module
[code]
it happen both in js or ts

[2021-09-04 14:41] RIAEvangelist commented on #217
You need to put "type":"module" in your package.json

On Fri, Sep 3, 2021, 11:38 PM LOLBRUHNICE ***@***.***> wrote:

[2021-09-04 23:35] LOLBRUHNICE commented on #217
i get this error after i change type from commonjs to module:
[code]
(compiled with ESNEXT)

[2021-09-05 15:14] RIAEvangelist commented on #217
The way you do exports is different in es modules. You use export instead.

You could also exclude it from your bundle and import it as a regular
module instead.

On Sat, Sep 4, 2021, 7:35 PM LOLBRUHNICE ***@***.***> wrote:

[2021-09-06 06:39] LOLBRUHNICE commented on #217
i compile my file with tsc and tsc always use
[code]
how can i use export instead of exports?

[2021-09-10 01:48] RIAEvangelist commented on #208
Also, electron should support esm fully as well.

On Tue, Jul 6, 2021, 2:39 PM Maciej Krawczyk ***@***.***>
wrote:

[2021-09-14 05:50] radiorz opened #218 "require('node-ipc') is not work."
I use node with commonjs how to require this module
environments:
- nodejs v14.17.5
- node-ipc v10

[2021-09-14 09:24] radiorz commented on #218
The document say that new version didnt suit for commonjs. but how to make it work ?

[2021-09-14 13:27] RIAEvangelist commented on #218
You would probably want to use the `import()` function instead of the
require statement.

Maybe something like :

[code]

On Tue, Sep 14, 2021 at 2:24 AM radiorz ***@***.***> wrote:

[2021-09-15 00:47] tripodsgames commented on #218
I'm working on a PR to add commonjs support to v10.

https://github.com/RIAEvangelist/node-ipc/pull/219

[2021-09-15 01:16] #218 closed

[2021-09-15 18:20] RIAEvangelist commented on #217
fixed in PR #219 by @tripodsgames will push the latest version 10.2.0 shortly.

[2021-09-15 18:20] #217 closed

[2021-09-15 18:29] RIAEvangelist commented on #214
Additional functionality should now be added via v10.1.0

CJS support added in PR #219 by @tripodsgames

[2021-09-15 18:29] #214 closed

[2021-09-17 14:18] Silve2611 commented on #144
@RIAEvangelist I could not find it in the docs. I think the it would be best placed in the end of the docs in a cross-plattform section. One Example on Howto sendo a message from Python and also how to Receive a message if node-ipc sends one.

The basic Problem is that one needs to know how the socket locks like to connect to it from any other language. It does not become clear from the docs. Usua

[2021-09-17 14:20] Silve2611 opened #220 "[Question] Usage with Pyhton"
Hi,

I am considering using node-ipc for communication with pyhton. I have tried to connect to the socket by using localhost and the port 8000 which was shown in ipc.config but the connection is refused. Could you provide an example in the docs?

I could not find it in the docs. I think the it would be best placed in the end of the docs in a cross-plattform section. One Example on Howto sendo a me

[2021-09-17 15:23] Silve2611 commented on #220
I could make a connection but I am not able to pass a message.

**Messages are large, You may want to consider smaller messages.**

I tried add the \f but i won't work. Any Ideas?

[code]

[2021-09-17 15:51] RIAEvangelist commented on #144
You just create a unique socket in python, send a json payload, and end each payload with the delimiter from your config in node IPC. The delimiter is used to parse when multiple messages come across the pipe back to back.

The default is backslash d.

[2021-09-28 13:27] RIAEvangelist commented on #220
you added ` \\f ` the delimiter is ` \f ` which is a form feed character.

[2021-10-14 21:54] RIAEvangelist commented on #218
not sure, I will have a look, it should be compatible with commonJS

On Thu, Oct 14, 2021 at 2:02 PM André Antônio Posso da Silva <
***@***.***> wrote:

[2021-11-01 04:40] ryanocf opened #221 "ipc.config undefined with the latest version and node >= 16"
node: v16.13.0
npm: 8.1.2
OS: Windows 10 21H1 19043.1320

Hello,

I just installed the latest version of node-ipc (10.1.0) and want to use it that 2 different independent node processes can communicate with each other.
I straight copied the example and tried to run my server but for some reason the config property is undefined.
I created and tried it with a complete new project but it doesn't seem

[2021-11-03 23:11] RIAEvangelist commented on #221
have you tried logging out ipc?

[2021-11-08 14:19] getlarge commented on #221
@ryanocf Try with `const ipc = require('node-ipc').default;`

[2021-11-09 00:39] ryanocf commented on #221
Ah lol.
That works. Thanks a lot.

[2021-11-09 00:39] #221 closed

[2021-11-18 06:20] RIAEvangelist commented on #221
@getlarge or @ryanocf what sort of use leads to this, I would like to add it to the docs.

@getlarge thanks  btw

[2021-11-18 15:14] getlarge commented on #221
@RIAEvangelist Not sure i understand your question...
Between v9 to v10, it seems you added support for ESM and i guess the way you export the singleton in `node-ipc.js` has an influence on how the build will assign `singleton` in `node-ipc.cjs`.

That's `node-ipc.cjs` l.185 :
[code]

[2021-11-18 21:23] RIAEvangelist commented on #221
Yeah it's just he was running in CommoJS and that's what esbuild made... Can document that.

[2021-11-19 11:28] frzsombor commented on #175
For me, this still seems like a bug.
In #188 the id of the server are set on the side of the clients (in connect/connectNet), but the server never knows the 'id' of the connected client. Therefore `socket.id` will always be _undefined_ [here](https://github.com/RIAEvangelist/node-ipc/blob/10.1.0/dao/socketServer.js#L131) and will still result in logging _"client false has disconnected!"_ [here](ht

[2021-11-23 18:19] frzsombor opened #222 "The connected socket's "id" is never passed to the server"
I think the #175 is still an issue in the current version.

The 'id' of the server are always set on the side of the clients (in connect/connectNet), but the server never knows the 'id' of the connected client. Therefore `socket.id` will always be _undefined_ [here](https://github.com/RIAEvangelist/node-ipc/blob/10.1.0/dao/socketServer.js#L131) and will still result in logging _"client false has d

[2021-11-24 15:42] tenbits opened #223 "Unlink of the unix domain socket"
Hello Team,

I haven't found the discussion regarding the `unlink` option and the the unix domain sockets.

Consider this line of code:

[https://github.com/RIAEvangelist/node-ipc/blob/7a614ce9bee54a7f9348e6397a4b0c4b0a08a34d/dao/socketServer.js#L54](socketServer.js#L54)
[code]

This could be dangerous, as there are no check if a server already running. And if it does, that one will get stuck, as

[2021-11-26 19:41] RIAEvangelist commented on #223
I think a PR for this could be helpful provided it is simple and limited to this functionality. We don't want to change other functionality by handling this as these scenarios can be handled currently by checking and handling errors in the code which uses node-ipc. We also do not want to create further edge cases with the PR.

[2021-11-26 19:46] RIAEvangelist commented on #222
What you are looking for is a way to normalize the socket id across server and client. This is good for some applications and undesirable for others. I think the solution you have come up with is correct for your implementation. The intent of the ids is to allow them to be managed uniquely by the server irrelevant of the client so that the server can manage them in varied situations.

[2021-11-26 22:36] ed4becky opened #224 "Looking for guidance with node-ipc 9"
I am writing an electron app, so stuck with commonjs modules - thus the v9 constraint.

When I create a connection, then try to register any listener, node-ipc fails.  That is, event-pubsub fails when doing the !this._event_[type] check.

It seems that "this" is referring to the function "on" instead of the event-pubsub instance, and find a non-existent _event_

not sure how to make it work.

[2021-11-28 14:46] frzsombor commented on #222
So this feature (the server knowing the original id of the client) is intentionally not implemented? I see that the requirement of this feature might be different in different implementations, but if that if this is the case, the 'socket.disconnected' event will never pass 'destroyedSocketID' to the callback and will always log 'false' in the [example code](https://github.com/RIAEvangelist/node-ip

[2021-11-28 17:14] RIAEvangelist commented on #222
Which version are you running?

On Sun, Nov 28, 2021, 6:47 AM Zsombor Franczia ***@***.***>
wrote:

[2021-11-29 08:57] frzsombor commented on #222
Running the latest v10.1.0

[2021-12-06 21:08] patricthysell commented on #218
Hi, I had the same issue, when using node v10.24.1 and node-ipc v10.1.0. Theres kind of a migration situation with the ie6 modules (I guess) that sometimes creates problems using the old-fashioned require() for older node versions (like the 10.24.1)
I took the easy way out and used **node-ipc v9.1.1** I knew to work from a previous version - that did everything for me back then, and it looks perfe

[2021-12-07 00:26] frzsombor commented on #218
Related to #221 and you can find the solution here: https://github.com/RIAEvangelist/node-ipc/issues/221#issuecomment-963206238

[2021-12-07 18:00] RIAEvangelist commented on #224
You can use es6 in electron if you want to, there is no hard limitation. If you wrote your code base in commonjs though, just use the latest revision and do the following:

[code]

[2021-12-07 18:02] RIAEvangelist commented on #222
I believe the intent is not for the ID to be normalized from client to server, but instead for the server to be able to assign ids to sockets so you can keep track of them.

Doing what you are doing is how you can normalize the ids from client to server, though, I would suggest allowing the server to set the ids because otherwise you could run into strange edge cases.

[2021-12-08 16:31] RIAEvangelist commented on #218
I added this to the read me as in the past week or two we have had 3 issues filed on people not knowing this.

[2021-12-08 16:34] #224 closed

[2021-12-09 18:45] #222 closed

[2021-12-26 12:10] gebrits opened #225 "How to know if a rawbuffer is done?"
I'm trying to send a buffer of multiple MBs over IPC with settings:

[code]

This results in the client receiving this buffer in chunks of 8192 bytes.
is there a robust way to know when the server is done sending the entire buffer?
Atm, I'm doing the following, but this feels really brittle: push all the chunks in an array until a chunk is received with length !== 8192. In that case combine all ch